{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Acceleration of particle in electric field Calculator | Free Calculator to find Acceleration of particle in electric field</title>
<meta name="description"
    content="Acceleration of particle in electric field Calculator makes it easy for you to find Acceleration of particle in electric field." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Acceleration of particle in electric field Calculator | Free Calculator to find Acceleration of particle in electric field" />
<meta property="og:description" content="Acceleration of particle in electric field Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/acceleration-of-particle-in-electric-field.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Acceleration of particle in electric field Calculator | Free Calculator to find Acceleration of particle in electric field" />
<meta name="twitter:description"
    content="Acceleration of particle in electric field Calculator makes it easy for you to find Acceleration of particle in electric field." />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/acceleration-of-particle-in-electric-field.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="Acceleration of particle in electric field Calculatorr | Acceleration of particle in electric field" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/acceleration-of-particle-in-electric-field.jpeg" />
<meta property='og:description' content="Acceleration of particle in electric field Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>

{%if go_to %}
<a href="{{go_to}}" id="ddd"></a>
{%endif%}

<script>
	  document.addEventListener('DOMContentLoaded', function () {
		document.getElementById('ddd').click();
		});
</script>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Acceleration in Electric field calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                    style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Choose a Calculation</strong></div>
                        </div>
                        <select name="given_data" id="inlineFormInputGroup" class="form-control"
                            onchange="this.form.submit();" autofocus="">

                            {% if given_data == 'form1' %}
                            <option value="form1" selected="selected"> Find Acceleration | Given mass,Electric field and Charge </option>
                            {% else %}
                            <option value="form1"> Find Acceleration | Given mass,Electric field and Charge </option>
                            {% endif %}

                            {% if given_data == 'form2' %}
                            <option value="form2" selected="selected"> Find Mass | Given Acceleration,Electric field and Charge </option>
                            {% else %}
                            <option value="form2">Find Mass | Given Acceleration,Electric field and Charge  </option>
                            {% endif %}

                            {% if given_data == 'form3' %}
                            <option value="form3" selected="selected"> Find Electric field | Given mass,Acceleration and Charge
                            </option>
                            {% else %}
                            <option value="form3"> Find Electric field | Given mass,Acceleration and Charge </option>
                            {% endif %}

                            {% if given_data == 'form4' %}
                            <option value="form4" selected="selected"> Find Charge | Given mass,Electric field and ,Acceleration</option>
                            {% else %}
                            <option value="form4"> Find Charge | Given mass,Electric field and ,Acceleration </option>
                            {% endif %}



                        </select>
                    </div>

                    {% if given_data != "form4" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Charge</strong></div>
                        </div>
                        <input type="number" min="0.0000000000001" step="0.001" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter number"  class="form-control" name="d" {% if d %} value="{{d1}}" {% else %} value="9" {% endif %}>

                            <select class="select form-control" id="inlineFormInputGroup" name="d_op">
                                                         
                            {% if d_op == 'C' %}
                            <option value="C" selected="selected">Coloumb(C)</option>
                            {% else %}
                            <option value="C">Coloumb(C))</option>
                            {% endif %}

                            {% if d_op == 'PC' %}
                            <option value="PC" selected="selected">PicoColoumb(PC)</option>
                            {% else %}
                            <option value="PC">PicoColoumb(PC)</option>
                            {% endif %}

                            {% if d_op == 'mC' %}
                            <option value="mC" selected="selected">milliColoumb(mC)</option>
                            {% else %}
                            <option value="mC">milliColoumb(mC)</option>
                            {% endif %}


                            {% if d_op == 'μC' %}
                            <option value="μC" selected="selected">microColoumb(μC)</option>
                            {% else %}
                            <option value="μC">microColoumb(μC)</option>
                            {% endif %}

                            
                            
                            {% if d_op == 'nC' %}
                            <option value="nC" selected="selected">nanoColoumb(nC)</option>
                            {% else %}
                            <option value="nC">nanoColoumb(nC)</option>
                            {% endif %}

                            
                            {% if d_op == 'e' %}
                            <option value="e" selected="selected">elemenatry Charge(e)</option>
                            {% else %}
                            <option value="e">elemenatry Charge(e)</option>
                            {% endif %}


                        <select>


                    </div>
                    {% endif %}




                    {% if given_data != "form3" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Electric field</strong></div>
                        </div>
                        <input type="number"  min="0.0000000000001" step="0.001" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter number"  class="form-control" name="Ib" {% if Ib %} value="{{Ib1}}" {% else %} value="6" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="Ib_op">
                            {% comment %} From here to resume the work  {% endcomment %}
                            {% if Ib_op == 'N' %}
                            <option value="N" selected="selected">Newtons per Coloumb(N/C)</option>
                            {% else %}
                            <option value="N">Newtons per Coloumb(N/C)</option>
                            {% endif %}

                            {% if Ib_op == 'mN' %}
                            <option value="mN" selected="selected">Millinewtons per Coloumb(mN/C)</option>
                            {% else %}
                            <option value="mN">Millinewtons per Coloumb(mN/C)</option>
                            {% endif %}


                            {% if Ib_op == 'μN' %}
                            <option value="μN" selected="selected">Micronewtons per Coloumb(μN/C)</option>
                            {% else %}
                            <option value="μN">Micronewtons per Coloumb(μN/C)</option>
                            {% endif %}

                            
                            
                            {% if Ib_op == 'kN' %}
                            <option value="kN" selected="selected">Kilonewtons per Coloumb(kN/C)</option>
                            {% else %}
                            <option value="kN">Kilonewtons per Coloumb(kN/C)</option>
                            {% endif %}

                            


                        </select>
                    </div>
                    {% endif %}


                    {% if given_data != "form2" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Mass</strong></div>
                        </div>
                        <input type="number" min="0.0000000000001" step="0.001" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter number"  class="form-control" name="Ia" {% if Ia1 %} value="{{Ia1}}" {% else %} value="10" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="Ia_op">
                            {% if Ia_op == 'kg' %}
                            <option value="kg" selected="selected">kilograms(kg)</option>
                            {% else %}
                            <option value="kg">kilograms(kg)</option>
                            {% endif %}
 
                            {% if Ia_op == 'g' %}
                            <option value="g" selected="selected">grams(g)</option>
                            {% else %}
                            <option value="g">grams(g)</option>
                            {% endif %}

                            {% if Ia_op == 'mg' %}
                            <option value="mg" selected="selected">milligram(mg)</option>
                            {% else %}
                            <option value="mg">milligram(mg)</option>
                            {% endif %}


                            {% if Ia_op == 'μg' %}
                            <option value="μg" selected="selected">micrograms(μg)</option>
                            {% else %}
                            <option value="μg">micrograms(μg)</option>
                            {% endif %}

                            
                            {% if Ia_op == 'e' %}
                            <option value="e" selected="selected">Electronic mass (e)</option>
                            {% else %}
                            <option value="e">Electronic mass (e)</option>
                            {% endif %}

                            
                            {% if Ia_op == 'u' %}
                            <option value="u" selected="selected">Atomic mass(u)</option>
                            {% else %}
                            <option value="u">Atomic mass(u)</option>
                            {% endif %}

                        

                        </select>
                    </div>
                    {% endif %}


                    {% if given_data != "form1" %}

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Acceleration</strong></div>
                        </div>
                        <input type="number" min="0.0000000000001" step="0.001" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                           placeholder="Enter number"  class="form-control" name="F" {% if F %} value="{{F1}}" {% else %} value="7" {% endif %}>

                        <select class="select form-control" id="inlineFormInputGroup" name="F_op">
                          <option value="m/(s*s)">meter/(second*second) (m/(s*s)) </option>
                        </select>

                    </div>

                    {% endif %}

                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>

<div id="clear">

    {% if given_data == "form1" and F %}
    <div class="card" id="magnetic-force">
        <div class="card-header">
            <h2 class="h2">Steps to Acceleration in the Electric Field</h2>
        </div>

        <div class="card-body">

            <strong>Formula for the Acceleration is -</strong>
            <br>
            <p class="btn btn-outline-secondary active">a = q * E / m </p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>a is the acceleration of the particle, </li>
                        <li>q is the charge of the particle,;</li>
                        <li>m is the mass of the particle,</li>
                        <li>E is the electric field.</li>
                    </ul>

            <strong>Input values are:-</strong>
            <p>Mass = {{Ia1}} {{Ia_op}} </p>
            <p>Electric field = {{Ib1}} {{Ib_op}}/C </p>
            <p>Charge = {{d1}} {{d_op}}</p>
           
            {% if Ia_op != 'kg' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the mass  {{Ia1}}<b><i>"{{Ia_op}}"</i></b> to
                    <b><i>"kg"</i></b></b>
                </summary>
                <p>Converting mass  ={{Ia1}} {{Ia_c|safe}}</p>
                <p>mass ={{Ia|safe}} Kg </p>
            </details>
            {% endif %}

            
            {% if Ib_op != 'N' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Electric Field  {{Ib1}}<b><i>"{{Ib_op}}/C"</i></b> to
                    <b><i>"N/C"</i></b></b>
                </summary>
                <p>Converting Electric  Field  ={{Ib1}} {{Ib_c|safe}}</p>
                <p>Electric Field ={{Ib|safe}} N/C </p>
            </details>
            {% endif %}

            {% if d_op != 'C' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Charge  {{d1}}<b><i>"{{d_op}}"</i></b> to
                    <b><i>"C"</i></b></b>
                </summary>
                <p>Converting Charge  ={{d1}} {{d_c | safe}}</p>
                <p>Charge ={{d|safe}} C </p>
            </details>
            {% endif %}


            <strong>Put values into formula</strong>
            <p>a = q * E / m</p>
            <p>  a= {{d|safe}} X {{Ib|safe}} /( {{Ia|safe}} ) </p>
            <p> Acceleration= {{F|safe}} m/s<sup>2</sup></p>
        </div>

    </div>
    {% endif %}



    {% if given_data == "form2" and Ia %}
    <div class="card" id="current-in-first-wire">
        <div class="card-header">
            <h2 class="h2">Steps to calculate mass</h2>
        </div>

        <div class="card-body">

            <strong>Mass formula:-</strong>
            <br>
            <p class="btn btn-outline-secondary active">m = q * E / a</p>
            <br>
            <strong>where:</strong>
                    <ul> 
                        <li>a is the acceleration of the particle, </li>
                        <li>q is the charge of the particle,;</li>
                        <li>m is the mass of the particle,</li>
                        <li>E is the electric field.</li>
                    </ul>

            <strong>Input values are:-</strong>
            <p>Acceleration = {{F|safe}} m/s<sup>2</sup> </p>
            <p>Electric Field = {{Ib1}} {{Ib_op}}/C </p>
            <p>Charge = {{d1}} {{d_op}} </p>

             
            {% if Ib_op != 'N' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Electric Field  {{Ib1}}<b><i>"{{Ib_op}}/C"</i></b> to
                    <b><i>"N/C"</i></b></b>
                </summary>
                <p>Converting Electric  Field  ={{Ib1}} {{Ib_c|safe}}</p>
                <p>Electric Field ={{Ib|safe}} N/C </p>
            </details>
            {% endif %}

            {% if d_op != 'C' %} 
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Charge  {{d1}}<b><i>"{{d_op}}"</i></b> to
                    <b><i>"C"</i></b></b>
                </summary>
                <p>Converting Charge  ={{d1}} {{d_c|safe}}</p>
                <p>Charge ={{d|safe}} C </p>
            </details>
            {% endif %}



            <strong>Put values into formula</strong>
            <p>m=n X Mw X st</p>
            <p>m= {{F|safe}} X {{Ib|safe}} X {{d|safe}} </p>
            <p> Mass= {{Ia|safe}} kg</p>
            

        </div>

    </div>
    {% endif %}


    {% if given_data == "form3" and Ib %}
    <div class="card" id="current-in-second-wire">
        <div class="card-header">
            <h2 class="h2">Steps to find Electric field :</h2>
        </div>

        <div class="card-body">

            <strong>Electric field  formula:-</strong>
            <br>
            <p class="btn btn-outline-secondary active"> E = a X m / q   </p>
            <br>
            <strong>where:</strong>
                    <ul>      
                        <li>a is the acceleration of the particle, </li>
                        <li>q is the charge of the particle,;</li>
                        <li>m is the mass of the particle,</li>
                        <li>E is the electric field.</li>
                    </ul>

            <strong>Input values are:-</strong>
            <p>Acceleration = {{F|safe}} m/s<sup>2</sup> </p>
            <p>mass = {{Ia1}} {{Ia_op}} </p>
            <p>Charge = {{d1}} {{d_op}} </p>

             
            {% if Ia_op != 'kg' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the mass  {{Ia1}}<b><i>"{{Ia_op}}"</i></b> to
                    <b><i>"kg"</i></b></b>
                </summary>
                <p>Converting mass ={{Ia1}} {{Ia_c|safe}}</p>
                <p>mass ={{Ia|safe}} Kg </p>
            </details>
            {% endif %}

            {% if d_op != 'C' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Charge  {{d1}}<b><i>"{{d_op}}"</i></b> to
                    <b><i>"C"</i></b></b>
                </summary>
                <p>Converting Charge  ={{d1}} {{d_c|safe}}</p>
                <p>Charge ={{d|safe}} C </p>
            </details>
            {% endif %}



            <strong>Put values into formula</strong>
            <p>E = a X m / q </p>
            <p>E = {{F|safe}} X {{Ia|safe}} /( {{d|safe}} ) </p>
            <p> Electric Field = {{Ib|safe}} N/C</p>


        </div>

    </div>
    {% endif %}

    {% if given_data == "form4" and d %}
    <div class="card" id="distance">
        <div class="card-header">
            <h2 class="h2">Steps to find the Charge </h2>
        </div>

        <div class="card-body">

            <strong>Charge formula:-</strong>
            <br>
            <p class="btn btn-outline-secondary active">q = a X m / E </p>
            <br>
            <strong>where:</strong>
                    <ul>
                       <li>a is the acceleration of the particle, </li>
                        <li>q is the charge of the particle,;</li>
                        <li>m is the mass of the particle,</li>
                        <li>E is the electric field.</li>
                    </ul>

            <strong>Input values are:-</strong>
            <p> Acceleration = {{F|safe}}  m/s<sup>2</sup> </p>
            <p>mass = {{Ia1}} {{Ia_op}}</p>
            <p>Electric Field = {{Ib1}} {{Ib_op}}/C</p>

           {% if Ia_op != 'kg' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the mass  {{Ia1}}<b><i>"{{Ia_op}}"</i></b> to
                    <b><i>"kg"</i></b></b>
                </summary>
                <p>Convrting mass  ={{Ia1}} {{Ia_c|safe}}</p>
                <p>mass ={{Ia|safe}} Kg </p>
            </details>
            {% endif %}

             
            {% if Ib_op != 'N' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Electric Field  {{Ib1}}/C<b><i>"{{Ib_op}}/C"</i></b> to
                    <b><i>"N/C"</i></b></b>
                </summary>
                <p>Converting Electric  Field  ={{Ib1}} {{Ib_c|safe}}</p>
                <p>Electric Field ={{Ib|safe}} N/C </p>
            </details>
            {% endif %}


            <strong>Put values into formula</strong>
            <p>Charge = a X m / E </p>
            <p>Charge ={{F|safe}} X {{Ia|safe}} /( {{Ib|safe}} ) </p>
            <p> Charge = {{d|safe}} C</p>
            

        </div>

    </div>
    {% endif %}

</div>



<script>
    
{% if id == 1 %}
 
var scrollDiv = document.getElementById("clear").offsetTop;
window.scrollTo({ top: scrollDiv, behavior: 'smooth'});

{%endif%}

    
{% if id == 2 %}
 
var scrollDiv = document.getElementById("my_form1").offsetTop;
window.scrollTo({ top: scrollDiv, behavior: 'smooth'});

{%endif%}


    var validNumber = new RegExp(/^\d*\.?-?\d*$/);
    var fist_input = document.getElementById("inlineFormInputGroup").value;
    function validateNumber(elem) {
        console.log(elem)
        if (validNumber.test(elem.value)) {
            fist_input = elem.value;
        } else {
            elem.value = fist_input;
        }
    }
</script>

<script>
    function myFunction() {

        {% if given_data == "form1" %}

            document.getElementsByName("Ia")[0].value = "";
            document.getElementsByName("Ib")[0].value = "";
            document.getElementsByName("d")[0].value = "";

            document.getElementsByName("Ia_op")[0].value = "kg";
            document.getElementsByName("Ib_op")[0].value = "N";
            document.getElementsByName("d_op")[0].value = "C";

            document.getElementById("clear").innerHTML = "";

        {% endif %}

        {% if given_data == "form2" %}

            document.getElementsByName("F")[0].value = "";
            document.getElementsByName("Ib")[0].value = "";
            document.getElementsByName("d")[0].value = "";

            document.getElementsByName("F_op")[0].value = "m/(s*s)";
            document.getElementsByName("Ib_op")[0].value = "N";
            document.getElementsByName("d_op")[0].value = "C";

            document.getElementById("clear").innerHTML = "";

        {% endif %}

        {% if given_data == "form3" %}

            document.getElementsByName("Ia")[0].value = "";
            document.getElementsByName("F")[0].value = "";
            document.getElementsByName("d")[0].value = "";

            document.getElementsByName("Ia_op")[0].value = "kg";
            document.getElementsByName("F_op")[0].value = "m/(s*s)";
            document.getElementsByName("d_op")[0].value = "C";

            document.getElementById("clear").innerHTML = "";

        {% endif %}

        {% if given_data == "form4" %}

            document.getElementsByName("Ia")[0].value = "";
            document.getElementsByName("Ib")[0].value = "";
            document.getElementsByName("F")[0].value = "";

            document.getElementsByName("Ia_op")[0].value = "kg";
            document.getElementsByName("Ib_op")[0].value = "N";
            document.getElementsByName("F_op")[0].value = "m/(s*s)";

            document.getElementById("clear").innerHTML = "";

        {% endif %}



    }
</script>
<br>


{% endblock %}