{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}

<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Arrow speed calculator | Free Calculator to find Arrow speed</title>
<meta name="description"
    content="Arrow speed calculator makes it easy for you to find Arrow speed." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Arrow speed calculator | Free Calculator to find Arrow speed" />
<meta property="og:description" content="Arrow speed calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/arrow-speed-calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Arrow speed calculator | Free Calculator to find Arrow speed" />
<meta name="twitter:description"
    content="Arrow speed calculator makes it easy for you to find Arrow speed." />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/arrow-speed-calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="Arrow speed calculatorr | Arrow speed" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/arrow-speed-calculator.jpeg" />
<meta property='og:description' content="Arrow speed calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>

{%if go_to %}
<a href="{{go_to}}" id="ddd"></a>
{%endif%}

<script>
	  document.addEventListener('DOMContentLoaded', function () {
		document.getElementById('ddd').click();
		});
</script>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Arrow speed Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                    style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Choose a Calculation</strong></div>
                        </div>
                        <select name="given_data" id="inlineFormInputGroup" class="form-control"
                            onchange="this.form.submit();" autofocus="">

                            {% if given_data == 'form1' %}
                            <option value="form1" selected="selected"> Find Arrow speed| Given Bow IBO rating , Draw length ,peak draw Weight ,Arrow weight ,Additional Weight  </option>
                            {% else %}
                            <option value="form1"> Find Arrow speed| Given Bow IBO rating , Draw length ,peak draw Weight ,Arrow weight ,Additional Weight </option>
                            {% endif %}

                            {% if given_data == 'form2' %}
                            <option value="form2" selected="selected"> Find Bow IBO rating  | Given Arrow speed, Draw length ,peak draw Weight ,Arrow weight ,Additional Weight  </option>
                            {% else %}
                            <option value="form2">Find Bow IBO rating  | Given Arrow speed, Draw length ,peak draw Weight ,Arrow weight ,Additional Weight </option>
                            {% endif %}

                            {% if given_data == 'form3' %}
                            <option value="form3" selected="selected">Find Draw length  | Given Arrow speed, Bow IBO rating ,peak draw Weight ,Arrow weight ,Additional Weight 
                            </option>
                            {% else %}
                            <option value="form3">Find Draw length  | Given Arrow speed, Bow IBO rating ,peak draw Weight ,Arrow weight ,Additional Weight</option>
                            {% endif %}


                            {% if given_data == 'form6' %}
                            <option value="form6" selected="selected">Find Additional Weight  | Given Arrow speed, Bow IBO rating ,peak draw Weight ,Arrow weight ,Draw length 
                            </option>
                            {% else %}
                            <option value="form6">Find Additional Weight  | Given Arrow speed, Bow IBO rating ,peak draw Weight ,Arrow weight ,Draw length</option>
                            {% endif %}

                        </select>
                    </div>

                    {% comment %} Ib for arrow speed  {% endcomment %}
                    {% if given_data != "form1" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Arrow Speed</strong></div>
                        </div>
                        <input type="number" min="0" step="0.01" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter number"  class="form-control" name="Ib"  value="{{Ib1}}">


                        <select class="select form-control" id="inlineFormInputGroup" name="Ib_op">

                          {% if Ib_op == 'ft/s' %}
                            <option value="ft/s" selected="selected">feet/second(ft/s)</option>
                            {% else %}
                            <option value="ft/s">feet/second(ft/s)</option>
                            {% endif %}

                            {% if Ib_op == 'm/s' %}
                            <option value="m/s" selected="selected">meter/second(m/s)</option>
                            {% else %}
                            <option value="m/s">meter/second(m/s)</option>
                            {% endif %}

                            {% if Ib_op == 'km/hr' %}
                            <option value="km/hr`" selected="selected">Kilometer/hour(km/hr)</option>
                            {% else %}
                            <option value="km/hr">Kilometer/hour(km/hr)</option>
                            {% endif %}
                            
                            {% if Ib_op == 'mph' %}
                            <option value="mph" selected="selected">Miles per hour(mph)</option>
                            {% else %}
                            <option value="mph">Miles per hour(mph)</option>
                            {% endif %}
                            
                        </select>
                    </div>
                    {% endif %}

                    {% comment %} Ia for the now IBO rating {% endcomment %}
                    {% if given_data != "form2" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Bow IBO rating</strong></div>
                        </div>
                        <input type="number" min="0" step="0.01" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter number"  class="form-control" name="Ia"  value="{{Ia1}}">


                        <select class="select form-control" id="inlineFormInputGroup" name="Ia_op">

                            {% if Ia_op == 'ft/s' %}
                            <option value="ft/s" selected="selected">feet/second(ft/s)</option>
                            {% else %}
                            <option value="ft/s">feet/second(ft/s)</option>
                            {% endif %}

                            {% if Ia_op == 'm/s' %}
                            <option value="m/s" selected="selected">meter/second(m/s)</option>
                            {% else %}
                            <option value="m/s">meter/second(m/s)</option>
                            {% endif %}

                            {% if Ia_op == 'km/hr' %}
                             <option value="km/hr">Kilometer/hour(km/hr)</option>
                            {% else %}
                            <option value="km/hr">Kilometer/hour(km/hr)</option>
                            {% endif %}
                            
                            {% if Ia_op == 'mph' %}
                            <option value="mph" selected="selected">Miles per hour(mph)</option>
                            {% else %}
                            <option value="mph">Miles per hour(mph)</option>
                            {% endif %}

                        </select>
                    </div>
                    {% endif %}

                    {% comment %} F for draw Length {% endcomment %}
                    {% if given_data != "form3" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Draw Length</strong></div>
                        </div>
                        <input type="number" min="0" step="0.01" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                           placeholder="Enter number"  class="form-control" name="F"  value="{{F1}}">

                        <select class="select form-control" id="inlineFormInputGroup" name="F_op">
                          
                          {% if F_op == 'V' %}
                            <option value="in" selected="selected">inch(in)</option>
                            {% else %}
                            <option value="in">inch(in)</option>
                            {% endif %}

                            {% if F_op == 'mm' %}
                            <option value="mm" selected="selected">milli meter(mm)</option>
                            {% else %}
                            <option value="mm">milli meter(mm)</option>
                            {% endif %}

                            {% if F_op == 'cm' %}
                            <option value="cm" selected="selected">centimeter(cm)</option>
                            {% else %}
                            <option value="cm">centimeter(cm)</option>
                            {% endif %}

                            {% if F_op == 'km' %}
                            <option value="km" selected="selected">kilometer(km)</option>
                            {% else %}
                            <option value="km">kilometer(km)</option>
                            {% endif %}

                            {% if F_op == 'ft' %}
                            <option value="ft" selected="selected">feet(ft)</option>
                            {% else %}
                            <option value="ft">feet(ft)</option>
                            {% endif %}

                            {% if F_op == 'yd' %}
                            <option value="yd" selected="selected">yards(yd)</option>
                            {% else %}
                            <option value="yd">yards(yd)</option>
                            {% endif %}

                        </select>

                    </div>
                    {% endif %}

                    
                    {% comment %} p for peak draw weight {% endcomment %}
                    {% if given_data != "form4" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>peak Draw Weight</strong></div>
                        </div>
                        <input type="number" min="0" step="0.01" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                           placeholder="Enter number"  class="form-control" name="p"  value="{{p1}}">

                        <select class="select form-control" id="inlineFormInputGroup" name="p_op">
                            
                            {% if p_op == 'lb' %}
                            <option value="lb" selected="selected">pounds(lb)</option>
                            {% else %}
                            <option value="lb">pounds(lb)</option>
                            {% endif %}
                            
                            {% if p_op == 'gr' %}
                            <option value="gr" selected="selected">grains(gr)</option>
                            {% else %}
                            <option value="gr">grains(gr)</option>
                            {% endif %}

                            {% if p_op == 'kg' %}
                            <option value="kg" selected="selected">kilograms(kg)</option>
                            {% else %}
                            <option value="kg">kilograms(Kg)</option>
                            {% endif %}

                            {% if p_op == 'g' %}
                            <option value="g" selected="selected">grams(g)</option>
                            {% else %}
                            <option value="g">grams(g)</option>
                            {% endif %}

                            {% if p_op == 'mg' %}
                            <option value="mg" selected="selected">milligram(mg)</option>
                            {% else %}
                            <option value="mg">milligram(mg)</option>
                            {% endif %}
                            
                            
                            {% if p_op == 'dg' %}
                            <option value="dg" selected="selected">decagrams(dg)</option>
                            {% else %}
                            <option value="dg">decagrams(dg)</option>
                            {% endif %}

                            
                            {% if p_op == 't' %}
                            <option value="t" selected="selected">Metric ton(t)</option>
                            {% else %}
                            <option value="t">Metric ton(t)</option>
                            {% endif %}

                            
                            {% if p_op == 'oz' %}
                            <option value="oz" selected="selected">ounces(oz)</option>
                            {% else %}
                            <option value="oz">ounces(oz)</option>
                            {% endif %}


                        </select>

                    </div>
                    {% endif %}


                    {% comment %} q for Arrow weight{% endcomment %}
                    {% if given_data != "form5" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Arrow Weight</strong></div>
                        </div>
                        <input type="number" min="0" step="0.01" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                           placeholder="Enter number"  class="form-control" name="q"  value="{{q1}}">

                        <select class="select form-control" id="inlineFormInputGroup" name="q_op">
                            
                            {% if q_op == 'gr' %}
                            <option value="gr" selected="selected">grains(gr)</option>
                            {% else %}
                            <option value="gr">grains(gr)</option>
                            {% endif %}

                            {% if q_op == 'kg' %}
                            <option value="kg" selected="selected">kilograms(kg)</option>
                            {% else %}
                            <option value="kg">kilograms(Kg)</option>
                            {% endif %}

                            {% if q_op == 'g' %}
                            <option value="g" selected="selected">grams(g)</option>
                            {% else %}
                            <option value="g">grams(g)</option>
                            {% endif %}

                            {% if q_op == 'mg' %}
                            <option value="mg" selected="selected">milligram(mg)</option>
                            {% else %}
                            <option value="mg">milligram(mg)</option>
                            {% endif %}
                            
                            
                            {% if q_op == 'dg' %}
                            <option value="dg" selected="selected">decagrams(dg)</option>
                            {% else %}
                            <option value="dg">decagrams(dg)</option>
                            {% endif %}

                            
                            {% if q_op == 't' %}
                            <option value="t" selected="selected">Metric ton(t)</option>
                            {% else %}
                            <option value="t">Metric ton(t)</option>
                            {% endif %}

                            
                            {% if q_op == 'oz' %}
                            <option value="oz" selected="selected">ounces(oz)</option>
                            {% else %}
                            <option value="oz">ounces(oz)</option>
                            {% endif %}

                            
                            {% if q_op == 'lb' %}
                            <option value="lb" selected="selected">pounds(lb)</option>
                            {% else %}
                            <option value="lb">pounds(lb)</option>
                            {% endif %}
                            
                        </select>

                    </div>
                    {% endif %}


                    {% comment %} r for Additional weight {% endcomment %}
                    {% if given_data != "form6" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Additional Weight</strong></div>
                        </div>
                        <input type="number" min="0" step="0.01" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                           placeholder="Enter number"  class="form-control" name="r" value="{{r1}}">

                        <select class="select form-control" id="inlineFormInputGroup" name="r_op">
                            
                            {% if r_op == 'gr' %}
                            <option value="gr" selected="selected">grains(gr)</option>
                            {% else %}
                            <option value="gr">grains(gr)</option>
                            {% endif %}

                            {% if r_op == 'kg' %}
                            <option value="kg" selected="selected">kilograms(kg)</option>
                            {% else %}
                            <option value="kg">kilograms(Kg)</option>
                            {% endif %}

                            {% if r_op == 'g' %}
                            <option value="g" selected="selected">grams(g)</option>
                            {% else %}
                            <option value="g">grams(g)</option>
                            {% endif %}

                            {% if r_op == 'mg' %}
                            <option value="mg" selected="selected">milligram(mg)</option>
                            {% else %}
                            <option value="mg">milligram(mg)</option>
                            {% endif %}
                            
                            
                            {% if r_op == 'dg' %}
                            <option value="dg" selected="selected">decagrams(dg)</option>
                            {% else %}
                            <option value="dg">decagrams(dg)</option>
                            {% endif %}

                            
                            {% if r_op == 't' %}
                            <option value="t" selected="selected">Metric ton(t)</option>
                            {% else %}
                            <option value="t">Metric ton(t)</option>
                            {% endif %}

                            
                            {% if r_op == 'oz' %}
                            <option value="oz" selected="selected">ounces(oz)</option>
                            {% else %}
                            <option value="oz">ounces(oz)</option>
                            {% endif %}

                            
                            {% if r_op == 'lb' %}
                            <option value="lb" selected="selected">pounds(lb)</option>
                            {% else %}
                            <option value="lb">pounds(lb)</option>
                            {% endif %}
                            
                        </select>

                    </div>
                    {% endif %}







                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>


<div id="clear">

    {% if id == 1 %}

    <div class="card" id="magnetic-force">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate {{name}} </h2>
        </div>

        <div class="card-body">

            <strong>Arrow Speed Calculator formula</strong>
            <br>
            <p class="btn btn-outline-secondary active">v = IBO + (L - 30) * 10 - W / 3 + min (0, -(A - 5D)/3)
            </p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>v is the actual arrow speed in ft/s </li>
                        <li>IBO is the arrow speed according to the IBO specification in ft/s</li>
                        <li>L is the draw length in inches</li>
                        <li>W is the additional weight on the bow string in grains</li>
                        <li>A is the arrow weight in grains</li>
                        <li>D is the draw weight in pounds</li>
                    </ul>

            <strong>Input values are:-</strong>
            
            {% if given_data != 'form2' %}
            <p>IBO Rating = {{Ia1}} {{Ia_op}} </p>
            {%endif%}
            
            {% if given_data != 'form1' %}
            <p>Arrow Speed = {{Ib1}} {{Ib_op}}</p>
            {% endif %}

            {% if given_data != 'form3' %}
            <p>Draw Length = {{F1}} {{F_op}}</p>
            {% endif %}

            {% if given_data != 'form4' %}
            <p>Peak Draw Weight = {{p1}} {{p_op}}</p>
            {% endif %}

            {% if given_data != 'form5' %}
            <p>Arrow weight = {{q1}} {{q_op}}</p>
            {% endif %}

            {% if given_data != 'form6' %}
            <p>Additional Weight = {{r1}} {{r_op}}</p>
            {% endif %}
           
           
            {% if Ia_op != 'ft/s' and given_data != 'form2' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the IBO rating {{Ia1}}<b><i>"{{Ia_op}}"</i></b> to
                    <b><i>"ft/s"</i></b></b>
                </summary>
                <p>Converting IBO rating  ={{Ia1}} {{Ia_c|safe}}</p>
                <p>IBO rating ={{Ia|safe}} ft/s </p>
            </details>
            {% endif %}

            
            {% if Ib_op != 'ft/s' and given_data != 'form1' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Arrow speed {{Ib1}}<b><i>"{{Ib_op}}"</i></b> to
                    <b><i>"ft/s"</i></b></b>
                </summary>
                <p>Converting Arrow speed ={{Ib1}} {{Ib_c|safe}}</p>
                <p>Arrow speed ={{Ib|safe}} ft/s </p>
            </details>
            {% endif %}

            
            {% if F_op != 'in' and given_data != 'form3' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert draw length {{F1}}<b><i>"{{F_op}}"</i></b> to
                    <b><i>"inches"</i></b></b>
                </summary>
                <p>Converting draw length ={{F1}} {{F_c|safe}}</p>
                <p>draw length ={{F|safe}} inches </p>
            </details>
            {% endif %}

            {% if q_op != 'gr' and id == 1 %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert Arrow Weight {{q1}}<b><i>"{{q_op}}"</i></b> to
                    <b><i>"grains"</i></b></b>
                </summary>
                <p> Converting Arrow Weight ={{q1}} {{q_c|safe}}</p>
                <p> Arrow Weight ={{q|safe}} grains </p>
            </details>
            {% endif %}

            
            {% if p_op != 'lb' and id == 1 %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert draw weight {{p1}}<b><i>"{{p_op}}"</i></b> to
                    <b><i>"grains"</i></b></b>
                </summary>
                <p> Converting draw weight ={{p1}} {{p_c|safe}}</p>
                <p> draw weight ={{p|safe}} grains </p>
            </details>
            {% endif %}


            

            
            {% if r_op != 'gr' and given_data != 'form6' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert Additional Weight {{r1}}<b><i>"{{r_op}}"</i></b> to
                    <b><i>"grains"</i></b></b>
                </summary>
                <p> Converting Additional Weight ={{r1}} {{r_c|safe}}</p>
                <p> Additional Weight ={{r|safe}} grains </p>
            </details>
            {% endif %}



            <strong>Put values into formula</strong>
            {% if given_data == 'form1' %}
            <p>v = IBO + (L - 30) * 10 - W / 3 + min (0, -(A - 5D)/3)</p>
             <p>v = {{Ia|safe}} + ({{F|safe}}-30)*10 - {{r|safe}}/3  + min(0,-( {{q|safe}}- 5*{{p|safe}}/3 ))  </p>
             <p> v= {{Ib|safe}} ft/s</p>
            {%endif%}

    

            {% if given_data == 'form2' %}
             <p>v = IBO + (L - 30) * 10 - W / 3 + min (0, -(A - 5D)/3)</p>
             <p>IBO Rating = {{Ib|safe}} - ({{F|safe}}-30)*10 - {{r|safe}}/3  + min(0,-( {{q|safe}}- 5*{{p|safe}}/3 )) </p>
             <p> IBO rating= {{Ia|safe}} ft/s</p>
            {%endif%}

    

            {% if given_data == 'form3' %}
             <p>v = IBO + (L - 30) * 10 - W / 3 + min (0, -(A - 5D)/3)</p>
             <p> L = ( v -IBO + W/3 -min(0,-(A-5D)/3) )/10 +30 </p>
             <p> L = ( {{Ib|safe}} -{{Ia|safe}} + {{r|safe}}/3 -min(0,-({{q|safe}}-5*{{p|safe}})/3) )/10 +30 </p>
            <p> Draw Length= {{F|safe}} inches</p>
            {%endif%}

    

            
             {% if given_data == 'form6' %}
             <p>v = IBO + (L - 30) * 10 - W / 3 + min (0, -(A - 5D)/3)  </p>
             <p>W = ( IBO + (L - 30) * 10 - v + min (0, -(A - 5D)/3) )*3 </p>
             <p>W= ( {{Ia|safe}} + ({{F|safe}} - 30) * 10 - {{Ib|safe}} + min (0, -({{q|safe}} - 5*{{p|safe}})/3) )*3 </p>
             
             <p> Additional Weight = {{r|safe}} grains</p>
            
            {%endif%}



        </div>

    </div>
    {% endif %}

</div>



<script>
    
{% if id == 1 %}
 
var scrollDiv = document.getElementById("clear").offsetTop;
window.scrollTo({ top: scrollDiv, behavior: 'smooth'});

{%endif%}

    


    var validNumber = new RegExp(/^\d*\.?-?\d*$/);
    var fist_input = document.getElementById("inlineFormInputGroup").value;
    function validateNumber(elem) {
        console.log(elem)
        if (validNumber.test(elem.value)) {
            fist_input = elem.value;
        } else {
            elem.value = fist_input;
        }
    }
</script>

<script>
    function myFunction() {

        document.getElementById("clear").innerHTML = "";
        
        {% if given_data != 'form1' %}

            document.getElementsByName("Ib")[0].value = ""
            document.getElementsByName("Ib_op")[0].value = "ft/s"

        {% endif %}

        
        {% if given_data != 'form2' %}
            document.getElementsByName("Ia")[0].value = ""
            document.getElementsByName("Ia_op")[0].value = "ft/s"
        {% endif %}

        
        {% if given_data != 'form3' %}
            document.getElementsByName("F")[0].value = ""
            document.getElementsByName("F_op")[0].value = "in"
        {% endif %}
        
        {% if given_data != 'form4' %}
            document.getElementsByName("p")[0].value = ""
            document.getElementsByName("p_op")[0].value = "lb"
        {% endif %}

        
        {% if given_data != 'form5' %}
            document.getElementsByName("q")[0].value = ""
            document.getElementsByName("q_op")[0].value = "gr"
        {% endif %}

        
        {% if given_data != 'form6' %}
            document.getElementsByName("r")[0].value = ""
            document.getElementsByName("r_op")[0].value = "gr"
        {% endif %}

    }
</script>
<br>


{% endblock %}