
<!doctype html>
<html lang="en">
  <head>
    {%block meta%}

    {%endblock%}
    {%block css%}
    {%endblock%}
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/4083775673.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169198200-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-169198200-4');
</script>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<script src="https://use.fontawesome.com/4083775673.js"></script>

<script data-ad-client="ca-pub-4620359738364721" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


</head>
<body>
  <nav class="navbar fixed-top navbar-expand-sm">
        <a class="navbar-brand" href="https://onlinecalculator.guru/">OnlineCalculator.Guru</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://onlinecalculator.guru/math-calculator/">Math</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://onlinecalculator.guru/physics-calculator/">Physics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://onlinecalculator.guru/chemistry-calculator/">Chemistry</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://onlinecalculator.guru/conversions-calculator/">Conversions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://onlinecalculator.guru/statistics-calculator/">Statistics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://onlinecalculator.guru/algebra-calculator/">Algebra</a>
              </li>
          </ul>
        </div>
      </nav>
  <div class="scrollmenu fixed-bottom text-center">
<a href="https://onlinecalculator.guru/physics-formulas/">Physics Formulas</a>
                <a href="/physics/accleration-calculator/">Accleration Calculator</a>
                <a href="/physics/accleration-due-to-gravity-calculator/">Accleration due to Gravity Calculator</a>
                <a href="/physics/density-calculator/">Density Calculator</a>
                <a href="/physics/friction-calculator/">Friction Calculator</a>
                <a href="/physics/gravity-calculator/">Gravity Calculator</a>
                <a href="/physics/specific-gravity-calculator/">Specific Gravity Calculator</a>
                <a href="/physics/gravitational-potential-energy-calculator/">Gravitational Potential Energy Calculator</a>
                <a href="/physics/kinetic-energy-calculator/">Kinetic Energy Calculator</a>
                <a href="/physics/momentum-calculator/">Momentum Calculator</a>
                 <a href="/physics/force-calculator/">Force Calculator</a>
                <a href="/physics/displacement-calculator-s-vt/">Displacement Calculator S=VT</a>
  <a href="/physics/torque-calculator/">Torque Calculator</a>
                <a href="/physics/velocity-calculator/">Velocity Calculator</a>
                <a href="/physics/water-pressure-calculator/">Water Pressure Calculator</a>
                <a href="/physics/wavelength-calculator/">Wavelength Calculator</a>
                <a href="/physics/youngs-modulus-calculator/">Youngs Modulus Calculator</a>
                <a href="/physics/uniformly-accelerated-motion-calculator/">Uniformly Accelerated Motion Calculator</a>
                <a href="/physics/velocity-calculator-vuas/">Velocity Calculator (v = √(u² + 2as))</a>
                <a href="/physics/velocity-calculator-v-u-at/">Velocity Calculator v = u + at</a>
                <a href="/physics/average-velocity-calculator/">Average Velocity Calculator</a>
                <a href="/physics/displacement-calculator/">Displacement Calculator</a>
                <a href="/physics/impact-force-calculator/">Impact Force Calculator</a>


  </div>
    {%block content%}

    {%endblock%}
    <footer class="page-footer font-small footer sticky-bottom">
      <!-- Footer Links -->
            <div class="row text-center d-flex justify-content-center footertext footer-text m-0 pb-1 pt-3">
                <a class="pr-3 pt-2 pb-2" href="/about-us/"> About Us </a>
                <a class="pr-3 pt-2 pb-2" href="/disclaimer/">  Disclaimer</a>
                <a class="pr-3 pt-2 pb-2" href="/privacy-policy/">  Privacy Policy </a>
                <a class="pt-2 pb-2" href="/contact-us/">  Contact Us </a>
            </div>
            <div class="row text-center d-flex justify-content-center m-0 pb-1 pt-2">
              <!-- Grid column -->
            <div class="footer-h4 text-uppercase justify-content-center ">FOLLOW US ON</div>
            <a href="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" class="clickable social">
                                    <svg style="width:25px;height:25px" viewBox="0 0 24 24">
                                        <path fill="#ffffff" d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z"></path>
                                            </svg></a>
                  <a href="https://twitter.com/onlinecalculat" class="clickable social"><svg style="width:25px;height:25px" viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
              <path fill="#ffffff" d="
                M 630, 425
                A 195, 195 0 0 1 331, 600
                A 142, 142 0 0 0 428, 570
                A  70,  70 0 0 1 370, 523
                A  70,  70 0 0 0 401, 521
                A  70,  70 0 0 1 344, 455
                A  70,  70 0 0 0 372, 460
                A  70,  70 0 0 1 354, 370
                A 195, 195 0 0 0 495, 442
                A  67,  67 0 0 1 611, 380
                A 117, 117 0 0 0 654, 363
                A  65,  65 0 0 1 623, 401
                A 117, 117 0 0 0 662, 390
                A  65,  65 0 0 1 630, 425
                Z"/>
            </svg></a>
                  <a href="https://www.linkedin.com/in/onlinecalculator/" class="clickable social"><svg style="width:25px;height:25px;" viewBox="0 0 24 24">
                                                <path fill="#ffffff" d="M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19M18.5,18.5V13.2A3.26,3.26 0 0,0 15.24,9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,12.8 13.54,12.17 14.31,12.17A1.4,1.4 0 0,1 15.71,13.57V18.5H18.5M6.88,8.56A1.68,1.68 0 0,0 8.56,6.88C8.56,5.95 7.81,5.19 6.88,5.19A1.69,1.69 0 0,0 5.19,6.88C5.19,7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z" class="__web-inspector-hide-shortcut__"></path>
                                            </svg></a>
                  <a href="https://www.youtube.com/channel/UCFkMv7w89Dqc0XukZUcWsFA/" class="clickable social"><svg style="width:25px;height:25px" viewBox="0 0 24 24">
                                                <path fill="currentColor" d="M10,15L15.19,12L10,9V15M21.56,7.17C21.69,7.64 21.78,8.27 21.84,9.07C21.91,9.87 21.94,10.56 21.94,11.16L22,12C22,14.19 21.84,15.8 21.56,16.83C21.31,17.73 20.73,18.31 19.83,18.56C19.36,18.69 18.5,18.78 17.18,18.84C15.88,18.91 14.69,18.94 13.59,18.94L12,19C7.81,19 5.2,18.84 4.17,18.56C3.27,18.31 2.69,17.73 2.44,16.83C2.31,16.36 2.22,15.73 2.16,14.93C2.09,14.13 2.06,13.44 2.06,12.84L2,12C2,9.81 2.16,8.2 2.44,7.17C2.69,6.27 3.27,5.69 4.17,5.44C4.64,5.31 5.5,5.22 6.82,5.16C8.12,5.09 9.31,5.06 10.41,5.06L12,5C16.19,5 18.8,5.16 19.83,5.44C20.73,5.69 21.31,6.27 21.56,7.17Z"></path>
                                            </svg></a>
            </div>
            <!-- Grid row-->
            <!-- Grid row-->
          <!-- Copyright -->
          <div class="row text-center d-flex justify-content-center footertext footer-text m-0 pb-4 pt-2">
             <div class="footer-h5"> © 2020 Copyright: </div><a href="https://onlinecalculator.guru/"> OnlineCalculator.Guru</a>
          </div>
          <!-- Copyright -->
      </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
