{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initwavel-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/ltimes/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/ltimes/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Frequency Calculator | Free Calculator to find Frequency</title>
<meta name="description"
    content="Frequency Calculator makes it easy for you to find Frequency." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Frequency Calculator | Free Calculator to find Frequency" />
<meta property="og:description" content="Frequency Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/frequency-calcultor.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Frequency Calculator | Free Calculator to find Frequency" />
<meta name="twitter:description"
    content="Frequency Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/frequency-calcultor.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Frequency Calculator</tittle>
<meta property='og:title' content="Frequency Calculatorr | Frequency" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/frequency-calcultor.jpeg" />
<meta property='og:description' content="Frequency Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Frequency Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                    style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Choose a Calculation</strong></div>
                        </div>
                        <select name="given_data" id="inlineFormInputGroup" class="form-control"
                            onchange="this.form.submit();" autofocus="">

                            {% if given_data == 'form1' %}
                            <option value="form1" selected="selected"> Find wave velocity,Frequency | Given wavelength and Time period  </option>
                            {% else %}
                            <option value="form1"> Find wave velocity,Frequency | Given wavelength and Time period </option>
                            {% endif %}

                            {% if given_data == 'form2' %}
                            <option value="form2" selected="selected"> Find wavelength,Frequency | Given wave velocity and Time period  </option>
                            {% else %}
                            <option value="form2">Find wavelength,Frequency  | Given wave velocity and Time period </option>
                            {% endif %}

                            {% if given_data == 'form3' %}
                            <option value="form3" selected="selected"> Find Time period,Frequency| Given wavelength and wave velocity
                            </option>
                            {% else %}
                            <option value="form3"> Find Time period ,Frequency| Given wavelength and wave velocity  </option>
                            {% endif %}
                </select>
            </div>
            
            {% if given_data != 'form1' %}

                <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Select Wave velocity medium</strong></div>
                        </div>
                 <select name="medium" id="inlineFormInputGroup" class="form-control"
                            onchange="velocity()" autofocus="">
                            
                            {% if medium == 'lvacuum' %} 
                            <option value="lvacuum" selected="selected"> light in vacuum </option>
                            {%else%}
                            <option value="lvacuum" > light in vacuum </option>
                            {%endif%}

                            {% if medium == 'lair' %} 
                            <option value="lair" selected="selected"> light in air </option>
                            {%else%}
                            <option value="lair" > light in air </option>
                            {%endif%}

                            {% if medium == 'lwater' %} 
                            <option value="lwater" selected="selected"> light in water </option>
                            {%else%}
                            <option value="lwater" > light in water </option>
                            {%endif%}

                             {% if medium == 'lglass' %} 
                            <option value="lglass" selected="selected"> light in glass </option>
                            {%else%}
                            <option value="lglass" > light in glass </option>
                            {%endif%}

                             {% if medium == 'sair20' %} 
                            <option value="sair20" selected="selected"> sound in air at 20 °C </option>
                            {%else%}
                            <option value="sair20" > sound in air at 20 °C </option>
                            {%endif%}

                             {% if medium == 'sair40' %} 
                            <option value="sair40" selected="selected"> sound in air at 40 °C </option>
                            {%else%}
                            <option value="sair40" > sound in air at 40 °C </option>
                            {%endif%}
                            
                             {% if medium == 'srubber' %} 
                            <option value="srubber" selected="selected"> sound in rubber </option>
                            {%else%}
                            <option value="srubber" > sound in rubber </option>
                            {%endif%}

                             {% if medium == 'slead' %} 
                            <option value="slead" selected="selected"> sound in lead </option>
                            {%else%}
                            <option value="slead" > sound in lead </option>
                            {%endif%}

                             {% if medium == 'sgold' %} 
                            <option value="sgold" selected="selected"> sound in gold </option>
                            {%else%}
                            <option value="sgold" > sound in gold </option>
                            {%endif%}

                             {% if medium == 'scopper' %} 
                            <option value="scopper" selected="selected"> sound in copper </option>
                            {%else%}
                            <option value="scopper" > sound in copper </option>
                            {%endif%}

                             {% if medium == 'sAluminium' %} 
                            <option value="sAluminium" selected="selected"> sound in Aluminium </option>
                            {%else%}
                            <option value="sAluminium" > sound in Aluminium </option>
                            {%endif%}

                             {% if medium == 'custom' %} 
                            <option value="custom" selected="selected">custom </option>
                            {%else%}
                            <option value="custom" >custom </option>
                            {%endif%}

                </select>    
            </div>
            {%endif%}
                    
                    {% if given_data != "form3" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Time period</strong></div>
                        </div>
                        <input type="number" min="0.0000000000001" step="0.001" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter number"  class="form-control" name="time" id="time" {% if time %} value="{{time1}}" {% else %} value="6" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="time_op" id="time_op">
                            
                            {% if time_op == 's' %}
                            <option value="s" selected="selected">seconds(s)</option>
                            {% else %}
                            <option value="s">seconds(s)</option>
                            {% endif %}

                            {% if time_op == 'ms' %}
                            <option value="ms" selected="selected">Milliseconds(ms)</option>
                            {% else %}
                            <option value="ms">Milliseconds(ms)</option>
                            {% endif %}
                            
                            {% if time_op == 'ns' %}
                            <option value="ns" selected="selected">nanosecond(ns)</option>
                            {% else %}
                            <option value="ns">nanosecond(ns)</option>
                            {% endif %}

                             {% if time_op == 'ps' %}
                            <option value="ps" selected="selected">picosecond(ps)</option>
                            {% else %}
                            <option value="ps">picosecond(ps)</option>
                            {% endif %}

                            
                            {% if time_op == 'min' %}
                            <option value="min" selected="selected">minutes</option>
                            {% else %}
                            <option value="min">minutes</option>
                            {% endif %}
                            
                        </select>
                    </div>
                    {% endif %}


                    {% if given_data != "form2" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>wavelength</strong></div>
                        </div>
                        <input type="number" min="0.0000000000001" step="0.001" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter number"  class="form-control"  id="wave" name="wave" {% if wave1 %} value="{{wave1}}" {% else %} value="10" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="wave_op" id="wave_op">

                            {% if wave_op == 'm' %}
                            <option value="m" selected="selected">meter(m)</option>
                            {% else %}
                            <option value="m">meter(m)</option>
                            {% endif %}

                            {% if wave_op == 'mm' %}
                            <option value="mm" selected="selected">millimeter(mm)</option>
                            {% else %}
                            <option value="mm">millimeter(mm)</option>
                            {% endif %}


                            {% if wave_op == 'µm' %}
                            <option value="µm" selected="selected">micrometer(μm)</option>
                            {% else %}
                            <option value="µm">micrometer(μm)</option>
                            {% endif %}

                            
                            {% if wave_op == 'nm' %}
                            <option value="nm" selected="selected">nanometer(nm)</option>
                            {% else %}
                            <option value="nm">nanometer(nm)</option>
                            {% endif %}
                             
                           
                            {% if wave_op == 'km' %}
                            <option value="km" selected="selected">kilometer(km)</option>
                            {% else %}
                            <option value="km">kilometer(km)</option>
                            {% endif %}

                        </select>
                    </div>
                    {% endif %}


                    {% if given_data != "form1" %}

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>wave velocity</strong></div>
                        </div>
                        <input type="number" min="0.0000000000001" step="0.001" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                           placeholder="Enter number"  class="form-control" id="waveVel" name="waveVel" {% if waveVel %} value="{{waveVel1}}" {% else %} value="7" {% endif %}>

                        <select class="select form-control" id="inlineFormInputGroup" name="waveVel_op"  id="waveVel_op">
                          
                          {% if waveVel_op == 'm/s' %}
                            <option value="m/s" selected="selected">meter/second(m/s)</option>
                            {% else %}
                            <option value="m/s">meter/second(m/s)</option>
                            {% endif %}

                        </select>

                    </div>

                    {% endif %}


                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>


<div id="clear">

    {% if given_data == "form1" and waveVel %}
    <div class="card" id="magnetic-force">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate wave velocity</h2>
        </div>

        <div class="card-body">

            <strong>Frequency formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active">T =  λ /v and f = 1 / T</p>
            <br>
            <li></li>
            
            <strong>where:</strong>
                    <ul>
                        <li>V is the wave velocity </li>
                        <li>λ is the wavelength</li>
                        <li>T is the Time period</li>
                        <li>F is the Frequency</li>
                    </ul>

            <strong>Input values are:-</strong>
            <p>wavelength = {{wave1}} {{wave_op}} </p>
            <p>Time period = {{time1}} {{time_op}}</p>
        
           
            {% if wave_op != 'm' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the wavelength  {{wave1}}<b><i>"{{wave_op}}"</i></b> to
                    <b><i>"m"</i></b></b>
                </summary>
                <p>Converting  wavelength  ={{wave1}} {{wave_c|safe}}</p>
                <p>wavelength ={{wave|safe}} m </p>
            </details>
            {% endif %}

            {% if time_op != 's' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Time period  {{time1}}<b><i>"{{time_op}}"</i></b> to
                    <b><i>"seconds"</i></b></b>
                </summary>
                <p>Converting  Time period  ={{time1}} {{time_c|safe}}</p>
                <p>Time period ={{time|safe}} seconds </p>
            </details>
            {% endif %}


            <strong>Put values into formula</strong>
            <p>  v = λ / T   </p>
            <p>  v = {{wave|safe}}/( {{time|safe}} )</p>
            <p><b> wave velocity= {{waveVel|safe}} m/s</b></p>
            <p> Frequency = 1 / T</p>
            <p> Frequency = 1 /({{time|safe}})  </p>
            <p><b> Frequency = {{freq|safe}} Hz </b></p>


        </div>

    </div>
    {% endif %}

    

    {% if given_data == "form2" and wave %}
    <div class="card" id="magnetic-force">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate wavelength</h2>
        </div>

        <div class="card-body">

            <strong>Frequency formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active">T = λ / v and f = 1 / T</p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>V is the wave velocity </li>
                        <li>λ is the wavelength</li>
                        <li>T is the Time period</li>
                        <li>F is the Frequency</li>
                    </ul>

            <strong>Input values are:-</strong>
            <p>wave velocity = {{waveVel1}} {{waveVel_op}} </p>
            <p>Time period = {{time1}} {{time_op}}</p>
        
           
            {% if waveVel_op != 'm/s' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the wave velocity  {{waveVel1}}<b><i>"{{waveVel_op}}"</i></b> to
                    <b><i>"m/s"</i></b></b>
                </summary>
                <p>Converting  wave velocity ={{waveVel1}} {{waveVel_c|safe}}</p>
                <p>wave velocity ={{waveVel|safe}} m/s </p>
            </details>
            {% endif %}

            {% if time_op != 's' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Time period  {{time1}}<b><i>"{{time_op}}"</i></b> to
                    <b><i>"seconds"</i></b></b>
                </summary>
                <p>Converting  Time period  ={{time1}} {{time_c|safe}}</p>
                <p>Time period ={{time|safe}} seconds </p>
            </details>
            {% endif %}


            <strong>Put values into formula</strong>
            <p>  λ = v * T </p>
            <p>  λ = {{waveVel|safe}} X {{time|safe}} </p>
            <p><b> wavelength = {{wave|safe}} meter </b></p>
            
            <p> Frequency = 1 / T</p>             
            <p> Frequency = 1 /({{time|safe}})</p>
            <p><b> Frequency = {{freq|safe}} Hz </b></p>
        </div>

    </div>
    {% endif %}




    {% if given_data == "form3" and time %}
    <div class="card" id="magnetic-force">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Time period</h2>
        </div>

        <div class="card-body">

            <strong>Frequency formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active">T = λ / v and f = 1 / T</p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>V is the wave velocity </li>
                        <li>λ is the wavelength</li>
                        <li>T is the Time period</li>
                        <li>F is the Frequency</li>
                    </ul>

            <strong>Input values are:-</strong>
            <p>wave velocity = {{waveVel1}} {{waveVel_op}} </p>
            <p>wavelength = {{wave1}} {{wave_op}}</p>
        
           
            {% if waveVel_op != 'm/s' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the wave velocity  {{waveVel1}}<b><i>"{{waveVel_op}}"</i></b> to
                    <b><i>"m/s"</i></b></b>
                </summary>
                <p>Converting wave velocity  ={{waveVel1}} {{waveVel_c|safe}}</p>
                <p>wave velocity ={{waveVel|safe}} m/s </p>
            </details>
            {% endif %}

              {% if wave_op != 'm' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the wavelength  {{wave1}}<b><i>"{{wave_op}}"</i></b> to
                    <b><i>"m"</i></b></b>
                </summary>
                <p>Converting wavelength  ={{wave1}} {{wave_c|safe}}</p>
                <p>wavelength ={{wave|safe}} m </p>
            </details>
            {% endif %}

           

            <strong>Put values into formula</strong>
            <p>  T = λ / v </p>
            <p>  T = {{wave|safe}} / ({{waveVel|safe}}) </p>
            <p><b> Time period = {{time|safe}} seconds </b></p>
            
            <p> Frequency = 1 / T</p>
            <p> Frequency = 1 /({{time|safe}})</p>
            <p><b> Frequency = {{freq|safe}} Hz </b></p>
        </div>

    </div>
    {% endif %}




</div>



<script>
    
{% if id == 1 %}
 
var scrollDiv = document.getElementById("clear").offsetTop;
console.log(scrollDiv)
window.scrollTo({ top: scrollDiv, behavior: 'smooth'});

{%endif%}

    

</script>

<script>
    function myFunction() {
             document.getElementById("clear").innerHTML="";

             {% if given_data != 'form1' %}
                 
                 document.getElementsByName("waveVel")[0].value="";
                 document.getElementsByName("waveVel_op")[0].value="m/s";

            {%endif%}

             {% if given_data != 'form2' %}
             
                 document.getElementsByName("wave")[0].value="";
                 document.getElementsByName("wave_op")[0].value="m";

             {%endif%}

             {% if given_data != 'form3' %}
             
                 document.getElementsByName("time")[0].value="";
                 document.getElementsByName("time_op")[0].value="s";

             {%endif%}





    }

    function velocity(){
           var velocity_values={
               'lvacuum':299792458,
               'lair':299702547,
               'lwater':225238511,
               'lglass':199861639,
               'sair20':343,
               'sair40':355,
               'srubber':60,
               'slead':1210,
               'sgold':3240,
               'scopper':4600,
               'sAluminium':6320,
           }
           
           key=document.getElementsByName("medium")[0].value
           console.log(velocity_values[key])
           
           if(document.getElementsByName("waveVel_op")[0].value=='m/s')
            document.getElementsByName("waveVel")[0].value=velocity_values[key]
           else{

             if(document.getElementsByName("waveVel_op")[0].value=='km/hr')
               document.getElementsByName("waveVel")[0].value=Math.round(velocity_values[key]/0.27,3)
             else{
                  if(document.getElementsByName("waveVel_op")[0].value=='mph')
                   document.getElementsByName("waveVel")[0].value=Math.round(velocity_values[key]/0.45,3)
                  else
                   document.getElementsByName("waveVel")[0].value=Math.round(velocity_values[key]/0.34,3) 


             }  



           } 

    }



</script>
<br>


{% endblock %}