{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Half Life Calculator | Free Calculator to Half Life</title>
<meta name="description"
    content="Half Life Calculator makes it easy for you to Half Life." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Half Life Calculator | Free Calculator to find Half Life" />
<meta property="og:description" content="Half Life Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg"
    property="og:image" />
    <meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Half Life Calculator | Free Calculator to find Half Life" />
<meta name="twitter:description"
    content="Ohm's law Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Half Life Calculator</tittle>
<meta property='og:title' content="Half Life Calculatorr | Half Life" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Half-Life-Calculator
.jpeg" />
<meta property='og:description' content="Half Life Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Half Life Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% if message %}
                <p  id="message_container" class="alert alert-danger text-center" 
                    style="color:red">{{ message }}</p>
                {% endif %}   

            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Choose a Calculation</strong></div>
                        </div>
                        <select name="given_data" id="inlineFormInputGroup" class="form-control"
                            onchange="this.form.submit();" autofocus="">

                            {% if given_data == 'form1' %}
                            <option value="form1" selected="selected"> Find Initial Quantity(N0) | Given Remaning Quantity(Nt), Total Time ,decay constant(λ)  </option>
                            {% else %}
                            <option value="form1"> Find Initial Quantity(N0) | Given Remaning Quantity(Nt),Total Time,decay constant(λ)  </option>
                            {% endif %}

                            {% if given_data == 'form2' %}
                            <option value="form2" selected="selected"> Find Remaning Quantity(Nt) | Given Initial Quantity(N0), Total Time ,decay constant(λ)</option>
                            {% else %}
                            <option value="form2">Find Remaning Quantity(Nt) | Given Initial Quantity(N0),Total Time,decay constant(λ)  </option>
                            {% endif %}


                            {% if given_data == 'form3' %}
                            <option value="form3" selected="selected"> Find Total Time | Given Initial Quantity(N0) ,decay constant(λ)
                            </option>
                            {% else %}
                            <option value="form3"> Find Total Time | Given Initial Quantity(N0), decay constant(λ) , Remaning Quantity(Nt)  </option>
                            {% endif %}

                        </select>
                    </div>

                    {% if given_data != "form2" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Remaning Quantity(Nt)</strong></div>
                        </div>
                        <input type="number" min="0.0001" step="0.0001" oninput="validateNumber(this);" id="Ia" required=""
                            placeholder="Enter number"  class="form-control mt-1" name="Ia" {% if Ia1 %} value="{{Ia1}}" {% else %} value="2" {% endif %}>

                    </div>
                    {% endif %}



                    {% if given_data != "form1" %}

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Initial Quantity(N0) </strong></div>
                        </div>
                        <input type="number" min="0.01" step="0.01" oninput="validateNumber(this);" id="F" required=""
                           placeholder="Enter number"  class="form-control mt-1" name="F" {% if F %} value="{{F1}}" {% else %} value="7" {% endif %}>
                    </div>

                    {% endif %}


                  
                  
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>decay constant(λ) </strong></div>
                        </div>
                        <input type="number" min="0.0001" step="0.0001" oninput="validateNumber(this);" id="decay" required=""
                           placeholder="Enter number"  class="form-control mt-1" name="decay" {% if decay %} value="{{decay1}}" {% else %} value="7" {% endif %}>

                        <select class="select form-control mt-1" id="decay_op" name="decay_op">
                            
                            {% if decay_op == 'per/second' %}
                            <option value="per/second" selected="selected">per/second</option>
                            {% else %}
                            <option value="per/second">per/second</option>
                            {% endif %}


                            {% if decay_op == 'per/min' %}
                            <option value="per/min" selected="selected">per/min</option>
                            {% else %}
                            <option value="per/min">per/min</option>
                            {% endif %}


                            {% if decay_op == 'per/hour' %}
                            <option value="per/hour" selected="selected">per/hour</option>
                            {% else %}
                            <option value="per/hour">per/hour</option>
                            {% endif %}

                            
                            {% if decay_op == 'per/day' %}
                            <option value="per/day" selected="selected">per/day</option>
                            {% else %}
                            <option value="per/day">per/day</option>
                            {% endif %}

                            {% if decay_op == 'per/week' %}
                            <option value="per/week" selected="selected">per/week</option>
                            {% else %}
                            <option value="per/week">per/week</option>
                            {% endif %}

                             {% if decay_op == 'per/month' %}
                            <option value="per/month" selected="selected">per/month</option>
                            {% else %}
                            <option value="per/month">per/month</option>
                            {% endif %}

                             {% if decay_op == 'per/year' %}
                            <option value="per/year" selected="selected">per/year</option>
                            {% else %}
                            <option value="per/year">per/year</option>
                            {% endif %}
 

                        </select>

                    </div>

                    


                  {% if given_data != "form3" %}  
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Total Time </strong></div>
                        </div>

                          <input type="number" min="0.0001" step="0.0001" oninput="validateNumber(this);" id="mat" required=""
                           placeholder="Enter number"  class="form-control mt-1" name="mat" {% if mat %} value="{{mat1}}" {% else %} value="12" {% endif %}>


                        <select class="select form-control mt-1" id="mat_op" name="mat_op">
                           
                              {% if mat_op == 's' %}
                                <option value="s" selected="selected">seconds</option>
                                {% else %}
                                <option value="s">seconds</option>
                            {% endif %}


                              {% if mat_op == 'min' %}
                                <option value="min" selected="selected">minute</option>
                                {% else %}
                                <option value="min">minute</option>
                            {% endif %}

                              {% if mat_op == 'hr' %}
                                <option value="hr" selected="selected">hour</option>
                                {% else %}
                                <option value="hr">hour</option>
                            {% endif %}

                             {% if mat_op == 'day' %}
                                <option value="day" selected="selected">day</option>
                                {% else %}
                                <option value="day">day</option>
                            {% endif %}

                             {% if mat_op == 'week' %}
                                <option value="week" selected="selected">week</option>
                                {% else %}
                                <option value="week">week</option>
                            {% endif %}

                             {% if mat_op == 'month' %}
                                <option value="month" selected="selected">month</option>
                                {% else %}
                                <option value="month">month</option>
                            {% endif %}

                             {% if mat_op == 'year' %}
                                <option value="year" selected="selected">year</option>
                                {% else %}
                                <option value="year">year</option>
                            {% endif %}

                        </select>

                    </div>
                  {%endif%}  
                

                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>


<div id="clear">

    {% if given_data == "form1" and F %}
    <div class="card" id="magnetic-Remaning Quantity(Nt)">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Initial Quantity(N0)</h2>
        </div>

        <div class="card-body">

            <strong>Half Life Formula</strong>
            <br>
            <p class="btn btn-outline-secondary active"> T=0.693/λ  and    N(t) = N(0) * 0.5<sup>(t/T)</sup></p>
            <br>
            <strong>where:</strong>
                    <ul>
                          <li>N(t) is the remaining quantity of a substance after time t has elapsed.</li>
                          <li>N(0) is the initial quantity of this substance.</li>
                          <li>T is the half-life.</li>
                          <li>t is the total time</li>
                          <li>λ is the decay constant</li>
                    </ul>

            <strong>Input values are:-</strong>
            <p>Remaning Quantity(Nt) = {{Ia1}} </p>
            <p>decay constant(λ) = {{decay1}} {{decay_op}}</p>
            <p>Total time = {{mat1}} {{mat_op}}</p>
          

            {% if decay_op != 'per/second' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the decay constant(λ)  {{decay1}}<b><i>"{{decay_op}}"</i></b> to
                    <b><i>"per/second"</i></b></b>
                </summary>
                <p>Converting decay constant(λ)  ={{decay1}} {{decay_c|safe}}</p>
                <p>decay constant(λ) ={{decay|safe}} per/second </p>
            </details>
            {% endif %}

            
            {% if mat_op != 's' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the total time  {{mat1}}<b><i>"{{mat_op}}"</i></b> to
                    <b><i>"second"</i></b></b>
                </summary>
                <p>Converting Total time  ={{mat1}} {{mat_c|safe}}</p>
                <p>Converting Total time  ={{mat|safe}} second </p>
            </details>
            {% endif %}

        

            <strong>Put values into formula</strong>
            <p>  T=0.693/λ</p>
            <p> T= 0.693/( {{decay|safe}} )</p>
        
            {% if half != -1 %}
            <p><b>Half life = {{half|safe}} seconds</b></p>
            {%else%}
             <p><b>Half life = {{base1}} X 10 <sup>{{power1}}</sup> seconds</b></p>
            {%endif%}

            <p>N(t) = N(0) * 0.5<sup>(t/T)</sup></p> 
            <p>N(0) = N(t)/0.5<sup>(t/T)</sup> </p>
            <p>N(0) = {{Ia}}/0.5<sup>({{mat|safe}}/{{half|safe}})</sup></p> 
            <p>Initial Quantity(N0) = {{F|safe}}</p>
          


        </div>

    </div>
    {% endif %}

    

    {% if given_data == "form2" and Ia %}
    <div class="card" id="magnetic-Remaning Quantity(Nt)">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Remaning Quantity(Nt)</h2>
        </div>

        <div class="card-body">

            <strong>Half Life Calculator</strong>
            <br>
            <p class="btn btn-outline-secondary active">T=0.693/λ  and    N(t) = N(0) * 0.5<sup>(t/T)</sup></p>
            <br>
            <strong>where:</strong>
                    <ul>  <li>N(t) is the remaining quantity of a substance after time t has elapsed.</li>
                          <li>N(0) is the initial quantity of this substance.</li>
                          <li>T is the half-life.</li>
                          <li>t is the total time</li>
                          <li>λ is the decay constant</li>
                        
                    </ul>


            <strong>Input values are:-</strong>
            <p>Initial Quantity(N0) = {{F1}} </p>
            <p>decay constant(λ) = {{decay1}} {{decay_op}}</p>
            <p>Total time = {{mat1}} {{mat_op}}</p>
        
             
            {% if decay_op != 'per/second' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the decay constant(λ)  {{decay1}}<b><i>"{{decay_op}}"</i></b> to
                    <b><i>"per/second"</i></b></b>
                </summary>
                <p>Converting decay constant(λ)  ={{decay1}} {{decay_c|safe}}</p>
                <p>decay constant(λ) ={{decay|safe}} per/second </p>
            </details>
            {% endif %}

            
            {% if mat_op != 's' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the total time  {{mat1}}<b><i>"{{mat_op}}"</i></b> to
                    <b><i>"second"</i></b></b>
                </summary>
                <p>Converting  Total time ={{mat1}} {{mat_c|safe}}</p>
                <p>Total time  ={{mat|safe}} second </p>
            </details>
            {% endif %}

            <strong>Put values into formula</strong>
            <p>  T=0.693/λ </p>
            <p>  T=0.693/ ( {{decay|safe}} )
            {% if half != -1 %}
            <p><b>Half life = {{half|safe}} seconds</b></p>
            {%else%}
             <p><b>Half life = {{base1}} X 10 <sup>{{power1}}</sup> seconds</b></p>
            {%endif%}

            <p>N(t)  = N(0)  *  0.5<sup>(t/T)</sup></p>
            <p> N(t) = {{F}} *  0.5<sup>({{mat|safe}}/{{half|safe}})</sup>
            <p> Remaning Quantity(Nt) = {{Ia|safe}}</p>
          
         
        </div>

    </div>
    {% endif %}



    {% if given_data == "form3" and mat %}
    <div class="card" id="magnetic-Remaning Quantity(Nt)">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate total time</h2>
        </div>

        <div class="card-body">

            <strong>Half Life formula--</strong>
            <br>
            <p class="btn btn-outline-secondary active">T=0.693/λ  and    N(t) = N(0) * 0.5<sup>(t/T)</sup></p>
            <br>
            <strong>where:</strong>
                    <ul> 
                     <li>N(t) is the remaining quantity of a substance after time t has elapsed.</li>
                      <li>N(0) is the initial quantity of this substance.</li>
                      <li>T is the half-life.</li>
                      <li>t is the total time</li>
                      <li>λ is the decay constant</li>
          
                    </ul>


            <strong>Input values are:-</strong>
            <p>Initial Quantity(N0) = {{F1}} </p>
            <p>Remaning Quantity(Nt) = {{Ia1}}</p>
            <p>decay constant(λ) = {{decay1}} {{decay_op}}</p>

            
            {% if decay_op != 'per/second' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the decay constant(λ)  {{decay1}}<b><i>"{{decay_op}}"</i></b> to
                    <b><i>"per/second"</i></b></b>
                </summary>
                <p>Converting decay constant(λ)  ={{decay1}} {{decay_c|safe}}</p>
                <p>decay constant(λ) ={{decay|safe}} per/second </p>
            </details>
            {% endif %}   
      

            <strong>Put values into formula</strong>
            <p>  T=0.693/λ</p>
            <p>  T=0.693/( {{decay|safe}} ) </p>
            
            {% if half != -1 %}
            <p><b>Half life = {{half|safe}} seconds</b></p>
            {%else%}
             <p><b>Half life = {{base1}} X 10 <sup>{{power1}}</sup> seconds</b></p>
            {%endif%}

            <p>N(t) = N(0) * 0.5<sup>(t/T)</sup></p>
            <p> t = T* log <sub>0.5</sub>(N(t)/N(0)) 
             {% if mat != -1 %}
            <p> Total Time = {{mat|safe}} seconds </p>
            {%else%}
            <p>Total Time  = {{base}} X 10 <sup>{{power}}</sup> second</p>
            {%endif%}
            
        </div>

    </div>
    {% endif %}






</div>



<script>
    
{% if id == 1 %}
 
var scrollDiv = document.getElementById("clear").offsetTop;
console.log(scrollDiv)
window.scrollTo({ top: scrollDiv, behavior: 'smooth'});

{%endif%}

    

</script>

<script>
    function myFunction() {

            document.getElementById("clear").innerHTML = "";
            document.getElementById("decay").value="";
            document.getElementById("decay_op").value="per/second"


            {% if given_data != 'form2' %}    
            document.getElementById("Ia").value = "";
            {%endif%}
            
            {% if given_data != 'form3' %}
            document.getElementById("mat").value = "";
            document.getElementById("mat_op").value="s";
            {%endif%}

            {% if given_data != 'form1' %}
            document.getElementById("F").value=""
            {% endif %}

            
            
    }
</script>
<br>

{% endblock %}