{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Momentum with time calculator | Free Calculator to find Momentum with time</title>
<meta name="description"
    content="Momentum with time calculator makes it easy for you to find Momentum with time." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Momentum with time calculator | Free Calculator to find Momentum with time" />
<meta property="og:description" content="Momentum with time calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Momentum-with-time-calculator
.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Momentum with time calculator | Free Calculator to find Momentum with time" />
<meta name="twitter:description"
    content="Momentum with time calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Momentum-with-time-calculator
.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Momentum with time calculator</tittle>
<meta property='og:title' content="Momentum with time calculatorr | Momentum with time" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Momentum-with-time-calculator
.jpeg" />
<meta property='og:description' content="Momentum with time calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Change in Momentum with time Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                    style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Choose a Calculation</strong></div>
                        </div>
                        <select name="given_data" id="inlineFormInputGroup" class="form-control"
                            onchange="this.form.submit();" autofocus="">

                            {% if given_data == 'form1' %}
                            <option value="form1" selected="selected"> Find Change in Momentum | Given Force and  Change in Time  </option>
                            {% else %}
                            <option value="form1"> Find Change in Momentum | Given Force and  Change in Time </option>
                            {% endif %}

                            {% if given_data == 'form2' %}
                            <option value="form2" selected="selected"> Find Force | Given Change in Momentum and Change in Time  </option>
                            {% else %}
                            <option value="form2">Find Force | Given Change in Momentum and Change in Time </option>
                            {% endif %}

                            {% if given_data == 'form3' %}
                            <option value="form3" selected="selected"> Find Change in Time| Given Change in Momentum and Force
                            </option>
                            {% else %}
                            <option value="form3"> Find Change in Time| Given Change in Momentum and Force  </option>
                            {% endif %}
                </select>
                    </div>


                    {% if given_data != "form3" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Change in Time ΔT</strong></div>
                        </div>
                        <input type="number" min="0.0000000000001" step="0.001"  oninput="validateNumber(this);" id="Ib" required=""
                            placeholder="Enter number"  class="form-control mt-1" name="Ib" {% if Ib %} value="{{Ib1}}" {% else %} value="6" {% endif %}>


                        <select class="select form-control mt-1" id="Ib_op" name="Ib_op">

                          {% if Ib_op == 's' %}
                            <option value="s" selected="selected">seconds(s)</option>
                            {% else %}
                            <option value="s">seconds(s)</option>
                            {% endif %}

                            {% if Ib_op == 'ms' %}
                            <option value="ms" selected="selected">Milliseconds(ms)</option>
                            {% else %}
                            <option value="ms">Milliseconds(ms)</option>
                            {% endif %}


                            {% if Ib_op == 'min' %}
                            <option value="min" selected="selected">minutes</option>
                            {% else %}
                            <option value="min">minutes</option>
                            {% endif %}

                            
                            {% if Ib_op == 'ns' %}
                            <option value="ns" selected="selected">nanosecond(ns)</option>
                            {% else %}
                            <option value="ns">nanosecond(ns)</option>
                            {% endif %}

                            
                            
                        </select>
                    </div>
                    {% endif %}


                    {% if given_data != "form2" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Force F</strong></div>
                        </div>
                        <input type="number" min="0.0000000000001" step="0.001" oninput="validateNumber(this);" id="Ia" required=""
                            placeholder="Enter number"  class="form-control mt-1" name="Ia" {% if Ia1 %} value="{{Ia1}}" {% else %} value="10" {% endif %}>


                        <select class="select form-control mt-1" id="Ia_op" name="Ia_op">


                            {% if Ia_op == 'N' %}
                            <option value="N" selected="selected">Newton(N)</option>
                            {% else %}
                            <option value="N">Newton(N)</option>
                            {% endif %}

                            {% if Ia_op == 'kN' %}
                            <option value="kN" selected="selected">kiloNewton(kN)</option>
                            {% else %}
                            <option value="kN">kiloNewton(kN)</option>
                            {% endif %}


                            {% if Ia_op == 'd' %}
                            <option value="d" selected="selected">Dyne(d)</option>
                            {% else %}
                            <option value="d">Dyne(d)</option>
                            {% endif %}

          
                        </select>
                    </div>
                    {% endif %}


                    {% if given_data != "form1" %}

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Change in Momentum Δp </strong></div>
                        </div>
                        <input type="number" min="0.0000000000001" step="0.001" oninput="validateNumber(this);" id="F" required=""
                           placeholder="Enter number"  class="form-control mt-1" name="F" {% if F %} value="{{F1}}" {% else %} value="7" {% endif %}>

                        <select class="select form-control mt-1" id="F_op" name="F_op">
                          
                            {% if F_op == 'kgm/s' %}
                            <option value="kgm/s" selected="selected">kgm/s</option>
                            {% else %}
                            <option value="kgm/s">kgm/s</option>
                            {% endif %}

                            {% if F_op == 'gm/s' %}
                            <option value="gm/s" selected="selected">gm/s</option>
                            {% else %}
                            <option value="gm/s">gm/s</option>
                            {% endif %}

                        </select>

                    </div>

                    {% endif %}


                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>


<div id="clear">

    {% if given_data == "form1" and F %}
    <div class="card" id="magnetic-force">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Change in Momentum</h2>
        </div>

        <div class="card-body">

            <strong>Momentum with Time formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active">Δp = F* ΔT </p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>Δp is the Change in Momentum </li>
                        <li>F is the Force</li>
                        <li>ΔT is the Change in Time</li>
                    </ul>

            <strong>Input values are:-</strong>
            <p>Force = {{Ia1}} {{Ia_op}} </p>
            <p>Change in Time = {{Ib1}} {{Ib_op}}</p>
        
           
            {% if Ia_op != 'N' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Force  {{Ia1}}<b><i>"{{Ia_op}}"</i></b> to
                    <b><i>"N"</i></b></b>
                </summary>
                <p>Force in ={{Ia1}} {{Ia_c|safe}}</p>
                <p>Force ={{Ia|safe}} N </p>
            </details>
            {% endif %}

            {% if Ib_op != 's' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Change in Time  {{Ib1}}<b><i>"{{Ib_op}}"</i></b> to
                    <b><i>"s"</i></b></b>
                </summary>
                <p>Change in Time  ={{Ib1}} {{Ib_c|safe}}</p>
                <p>Change in Time ={{Ib|safe}} s </p>
            </details>
            {% endif %}


            <strong>Put values into formula</strong>
            <p>  Δp = F* ΔT 
            <p>  Δp= {{Ia|safe}} X  {{Ib|safe}} </p>
            
             {% if F != -1 %}
            <p> Change in Momentum = {{F|safe}} kg m/s</p>
            {%else%}
            <p>Change in Momentum  = {{base}} X 10 <sup>{{power}}</sup> kg m/s</p>
            {%endif%}


        </div>

    </div>
    {% endif %}

    

    {% if given_data == "form2" and Ia %}
    <div class="card" id="magnetic-force">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Force</h2>
        </div>

        <div class="card-body">

            <strong>Momentum with Time formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active">Δp = F* ΔT</p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>Δp is the Change in Momentum </li>
                        <li>F is the Force</li>
                        <li>ΔT is the Change in Time</li>
                    </ul>


            <strong>Input values are:-</strong>
            <p>Change in Momentum = {{F1}} {{F_op}} </p>
            <p>Change in Time = {{Ib1}} {{Ib_op}}</p>
        
           
            {% if F_op != 'kgm/s' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Change in Momentum  {{F1}}<b><i>"{{F_op}}"</i></b> to
                    <b><i>"kgm/s"</i></b></b>
                </summary>
                <p>Change in Momentum in ={{F1}} {{F_c|safe}}</p>
                <p>Change in Momentum ={{F|safe}} kgm/s </p>
            </details>
            {% endif %}

            {% if Ib_op != 's' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Change in Time  {{Ib1}}<b><i>"{{Ib_op}}"</i></b> to
                    <b><i>"s"</i></b></b>
                </summary>
                <p>Change in Time  ={{Ib1}} {{Ib_c|safe}}</p>
                <p>Change in Time ={{Ib|safe}} s </p>
            </details>
            {% endif %}


            <strong>Put values into formula</strong>
            <p>  Δp = F* ΔT </p>
            <p>  F = Δp / ΔT    </p>
            <p>  F = {{F|safe}} / ( {{Ib|safe}} ) </p>
            
             {% if Ia != -1 %}
            <p> Force = {{Ia|safe}} N</p>
            {%else%}
            <p>Force  = {{base}} X 10 <sup>{{power}}</sup> N</p>
            {%endif%}
         
        </div>

    </div>
    {% endif %}




    {% if given_data == "form3" and Ib %}
    <div class="card" id="magnetic-force">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Change in Time</h2>
        </div>

        <div class="card-body">

            <strong>Momentum with Time formula--</strong>
            <br>
            <p class="btn btn-outline-secondary active">Δp = F* ΔT</p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>Δp is the Change in Momentum </li>
                        <li>F is the Force</li>
                        <li>ΔT is the Change in Time</li>
                    </ul>


            <strong>Input values are:-</strong>
            <p>Change in Momentum = {{F1}} {{F_op}} </p>
            <p>Force = {{Ia1}} {{Ia_op}}</p>
        
           
            {% if F_op != 'kgm/s' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Change in Momentum  {{F1}}<b><i>"{{F_op}}"</i></b> to
                    <b><i>"kgm/s"</i></b></b>
                </summary>
                <p>Change in Momentum in ={{F1}} {{F_c|safe}}</p>
                <p>Change in Momentum ={{F|safe}} kgm/s </p>
            </details>
            {% endif %}

              {% if Ia_op != 'N' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Force  {{Ia1}}<b><i>"{{Ia_op}}"</i></b> to
                    <b><i>"N"</i></b></b>
                </summary>
                <p>Force in ={{Ia1}} {{Ia_c|safe}}</p>
                <p>Force ={{Ia|safe}} N </p>
            </details>
            {% endif %}

           

            <strong>Put values into formula</strong>
            <p>  Δp = F* ΔT  </p>
            <p>  ΔT = Δp / F   </p>
            <p>  V = {{F|safe}} / ( {{Ia|safe}} ) </p>
            
             {% if Ib != -1 %}
            <p> Change In Time = {{Ib|safe}} s</p>
            {%else%}
            <p>Change In Time = {{base}} X 10 <sup>{{power}}</sup> s</p>
            {%endif%}
            
        </div>

    </div>
    {% endif %}




</div>



<script>
    
{% if id == 1 %}
 
var scrollDiv = document.getElementById("clear").offsetTop;
console.log(scrollDiv)
window.scrollTo({ top: scrollDiv, behavior: 'smooth'});

{%endif%}

    

</script>

<script>
    function myFunction() {

            document.getElementById("clear").innerHTML = "";
            
            {% if given_data != 'form2' %}    
            document.getElementById("Ia").value = "";
            document.getElementById("Ia_op").value="N";
            {%endif%}
            
            {% if given_data != 'form3' %}
            document.getElementById("Ib").value = "";
            document.getElementById("Ib_op").value="s";
            {%endif%}

            {% if given_data != 'form1' %}
            document.getElementById("F").value=""
            document.getElementById("F_op").value="kgm/s";
            {% endif %}
    
    }
</script>
<br>

{% endblock %}