{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Ohm's law Calculator | Free Calculator to find Ohm's law</title>
<meta name="description"
    content="Ohm's law Calculator makes it easy for you to find Ohm's law." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Ohm's law Calculator | Free Calculator to find Ohm's law" />
<meta property="og:description" content="Ohm's law Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Ohm's law Calculator | Free Calculator to find Ohm's law" />
<meta name="twitter:description"
    content="Ohm's law Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Ohm's law Calculator</tittle>
<meta property='og:title' content="Ohm's law Calculatorr | Ohm's law" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/ohms-law-calculator.jpeg" />
<meta property='og:description' content="Ohm's law Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Ohms Law Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                    style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Choose a Calculation</strong></div>
                        </div>
                        <select name="given_data" id="inlineFormInputGroup" class="form-control"
                            onchange="this.form.submit();" autofocus="">

                            {% if given_data == 'form1' %}
                            <option value="form1" selected="selected"> Find Voltage,Power | Given Current and Resistance  </option>
                            {% else %}
                            <option value="form1"> Find Voltage,Power | Given Current and Resistance </option>
                            {% endif %}

                            {% if given_data == 'form2' %}
                            <option value="form2" selected="selected"> Find Current,Power | Given Voltage and Resistance  </option>
                            {% else %}
                            <option value="form2">Find Current,Power  | Given Voltage and Resistance </option>
                            {% endif %}

                            {% if given_data == 'form3' %}
                            <option value="form3" selected="selected"> Find Resistance,Power| Given Current and Voltage
                            </option>
                            {% else %}
                            <option value="form3"> Find Resistance ,Power| Given Current and Voltage  </option>
                            {% endif %}
                </select>
                    </div>


                    {% if given_data != "form3" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Resistance</strong></div>
                        </div>
                        <input type="number" min="0.0000000000001" step="0.001" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter number"  class="form-control" name="Ib" id="Ib" {% if Ib %} value="{{Ib1}}" {% else %} value="6" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="Ib_op" id="Ib_op">

                          {% if Ib_op == 'Ω' %}
                            <option value="Ω" selected="selected"> Ω</option>
                            {% else %}
                            <option value="Ω">Ohm(Ω)</option>
                            {% endif %}

                            {% if Ib_op == 'mΩ' %}
                            <option value="mΩ" selected="selected">milli ohm(mΩ)</option>
                            {% else %}
                            <option value="mΩ">milli ohm(mΩ)</option>
                            {% endif %}


                            {% if Ib_op == 'kΩ' %}
                            <option value="kΩ" selected="selected">Kilo Ohm(kΩ)</option>
                            {% else %}
                            <option value="kΩ">Kilo Ohm(kΩ)</option>
                            {% endif %}

                            
                            
                            {% if Ib_op == 'MΩ' %}
                            <option value="MΩ" selected="selected">Mega Ohm(MΩ)</option>
                            {% else %}
                            <option value="MΩ">Mega Ohm(MΩ)</option>
                            {% endif %}
                            
                        </select>
                    </div>
                    {% endif %}


                    {% if given_data != "form2" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Current</strong></div>
                        </div>
                        <input type="number" min="0.0000000000001" step="0.001" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                            placeholder="Enter number"  class="form-control"  id="Ia" name="Ia" {% if Ia1 %} value="{{Ia1}}" {% else %} value="10" {% endif %}>


                        <select class="select form-control" id="inlineFormInputGroup" name="Ia_op" id="Ia_op">

                            {% if Ia_op == 'A' %}
                            <option value="A" selected="selected">Ampere(A)</option>
                            {% else %}
                            <option value="A">Ampere(A)</option>
                            {% endif %}

                            {% if Ia_op == 'mA' %}
                            <option value="mA" selected="selected">milli Ampere(mA)</option>
                            {% else %}
                            <option value="mA">milli Ampere(mA)</option>
                            {% endif %}


                            {% if Ia_op == 'µA' %}
                            <option value="µA" selected="selected">micro Ampere(μA)</option>
                            {% else %}
                            <option value="µA">micro Ampere(μA)</option>
                            {% endif %}

                        </select>
                    </div>
                    {% endif %}


                    {% if given_data != "form1" %}

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Voltage</strong></div>
                        </div>
                        <input type="number" min="0.0000000000001" step="0.001" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                           placeholder="Enter number"  class="form-control" id="F" name="F" {% if F %} value="{{F1}}" {% else %} value="7" {% endif %}>

                        <select class="select form-control" id="inlineFormInputGroup" name="F_op"  id="F_op">
                          
                          {% if F_op == 'V' %}
                            <option value="V" selected="selected">Volts(V)</option>
                            {% else %}
                            <option value="V">Volts(V)</option>
                            {% endif %}

                            {% if F_op == 'mV' %}
                            <option value="mV" selected="selected">milli volts(mV)</option>
                            {% else %}
                            <option value="mV">milli volts(mV)</option>
                            {% endif %}


                            {% if F_op == 'kV' %}
                            <option value="kV" selected="selected">Kilo Volts(kV)</option>
                            {% else %}
                            <option value="kV">Kilo Volts(kV)</option>
                            {% endif %}

                            
                            
                            {% if F_op == 'MV' %}
                            <option value="MV" selected="selected">Mega Volts(MV)</option>
                            {% else %}
                            <option value="MV">Mega Volts(MV)</option>
                            {% endif %}
                            

                        </select>

                    </div>

                    {% endif %}


                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>


<div id="clear">

    {% if given_data == "form1" and F %}
    <div class="card" id="magnetic-force">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Voltage</h2>
        </div>

        <div class="card-body">

            <strong>Ohms Law Formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active">V = I X R and P = V X I</p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>V is the Voltage </li>
                        <li>I is the Current</li>
                        <li>R is the Resistance</li>
                        <li>P is the Power</li>
                    </ul>

            <strong>Input values are:-</strong>
            <p>Current = {{Ia1}} {{Ia_op}} </p>
            <p>Resistance = {{Ib1}} {{Ib_op}}</p>
        
           
            {% if Ia_op != 'A' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Current  {{Ia1}}<b><i>"{{Ia_op}}"</i></b> to
                    <b><i>"A"</i></b></b>
                </summary>
                <p>Converting Current ={{Ia1}} {{Ia_c|safe}}</p>
                <p>Current ={{Ia|safe}} A </p>
            </details>
            {% endif %}

            {% if Ib_op != 'Ω' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Resistance  {{Ib1}}<b><i>"{{Ib_op}}"</i></b> to
                    <b><i>"Ω"</i></b></b>
                </summary>
                <p>Converting Resistance  ={{Ib1}} {{Ib_c|safe}}</p>
                <p>Resistance ={{Ib|safe}} Ω </p>
            </details>
            {% endif %}


            <strong>Put values into formula</strong>
            <p>  V = I X R 
            <p>  V= {{Ia|safe}} X  {{Ib|safe}}</p>
            
           
            <p><b> Voltage= {{F|safe}} V </b></p>
           

            <p> Power = V X I</p>

           
            <p> Power = {{F|safe}} X {{Ia|safe}}</p>
        
            <p><b> Power = {{p|safe}} Watts </b></p>
           

        </div>

    </div>
    {% endif %}

    

    {% if given_data == "form2" and Ia %}
    <div class="card" id="magnetic-force">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Current</h2>
        </div>

        <div class="card-body">

            <strong>Ohms Law Formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active">I = V / R and P = V X I</p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>V is the Voltage </li>
                        <li>I is the Current</li>
                        <li>R is the Resistance</li>
                        <li>P is the Power</li>
                    </ul>

            <strong>Input values are:-</strong>
            <p>Voltage = {{F1}} {{F_op}} </p>
            <p>Resistance = {{Ib1}} {{Ib_op}}</p>
        
           
            {% if F_op != 'V' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Voltage  {{F1}}<b><i>"{{F_op}}"</i></b> to
                    <b><i>"V"</i></b></b>
                </summary>
                <p> Converting Voltage  ={{F1}} {{F_c |safe}}</p>
                <p>Voltage ={{F|safe}} Volts </p>
            </details>
            {% endif %}

            {% if Ib_op != 'Ω' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Resistance  {{Ib1}}<b><i>"{{Ib_op}}"</i></b> to
                    <b><i>"Ω"</i></b></b>
                </summary>
                <p> Converting Resistance  ={{Ib1}} {{Ib_c|safe}}</p>
                <p>Resistance ={{Ib|safe}} Ω </p>
            </details>
            {% endif %}


            <strong>Put values into formula</strong>
            <p>  I = V /R 
            <p>  I= {{F|safe}} / ( {{Ib|safe}} ) </p>
            {% if Ia != -1 %}
            <p><b>Converting Current = {{Ia|safe}} A </b></p>
            {%else%}
            <p><b> Current = {{base}} X  10 <sup>{{power}}</sup> A </b></p>
            {% endif %}
            <p> Power = V X I</p>
        
            <p> Power = {{F|safe}} X {{Ia|safe}}</p>
            <p><b> Power = {{p|safe}} Watts </b></p>
          

        </div>

    </div>
    {% endif %}




    {% if given_data == "form3" and Ib %}
    <div class="card" id="magnetic-force">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Resistance</h2>
        </div>

        <div class="card-body">

            <strong>Ohms Law Formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active">R = V / I and P = V X I</p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>V is the Voltage </li>
                        <li>I is the Current</li>
                        <li>R is the Resistance</li>
                        <li>P is the Power</li>
                    </ul>

            <strong>Input values are:-</strong>
            <p>Voltage = {{F1}} {{F_c |safe}} </p>
            <p>Current = {{Ia1}} {{Ia_c|safe}}</p>
        
           
            {% if F_op != 'V' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Voltage  {{F1}}<b><i>"{{F_op}}"</i></b> to
                    <b><i>"V"</i></b></b>
                </summary>
                <p> Converting Voltage  ={{F1}} {{F_c |safe}}</p>
                <p>Voltage ={{F|safe}} Volts </p>
            </details>
            {% endif %}

              {% if Ia_op != 'A' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Current  {{Ia1}}<b><i>"{{Ia_op}}"</i></b> to
                    <b><i>"A"</i></b></b>
                </summary>
                <p> Converting Current  ={{Ia1}} {{Ia_c|safe}}</p>
                <p>Current ={{Ia|safe}} A </p>
            </details>
            {% endif %}

           

            <strong>Put values into formula</strong>
            <p>  R = V / I 
            <p>  R = {{F|safe}} / ( {{Ia|safe}} ) </p>
            <p><b> Resistance = {{Ib|safe}} ohms </b></p>
        

            <p> Power = V X I</p>
            <p> Power = {{F|safe}} X {{Ia|safe}}</p>
            <p><b> Power = {{p|safe}} Watts </b></p>
            
            

        </div>

    </div>
    {% endif %}




</div>



<script>
    
{% if id == 1 %}
 
var scrollDiv = document.getElementById("clear").offsetTop;
console.log(scrollDiv)
window.scrollTo({ top: scrollDiv, behavior: 'smooth'});

{%endif%}

    

</script>

<script>
    function myFunction() {
             document.getElementById("clear").innerHTML="";

             {% if given_data != 'form1' %}
                 
                 document.getElementsByName("F")[0].value="";
                 document.getElementsByName("F_op")[0].value="V";

            {%endif%}

             {% if given_data != 'form2' %}
             
                 document.getElementsByName("Ia")[0].value="";
                 document.getElementsByName("Ia_op")[0].value="A";

             {%endif%}

             {% if given_data != 'form3' %}
             
                 document.getElementsByName("Ib")[0].value="";
                 document.getElementsByName("Ib_op")[0].value="Ω";

             {%endif%}





    }
</script>
<br>


{% endblock %}