{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Specific Heat Capacity Calculator  | Free Calculator to find Specific Heat Capacity Calculator</title>
<meta name="description"
    content="Specific Heat Capacity Calculator." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Specific Heat Capacity Calculator | Free Calculator to find Specific Heat Capacity " />
<meta property="og:description" content="Specific Heat Capacity Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Specific-Heat-Capacity-Calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Specific Heat Capacity Calculator | Free Calculator to find Specific Heat Capacity " />
<meta name="twitter:description"
    content="Specific Heat Capacity Calculator" />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Specific-Heat-Capacity-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<tittle> Ohm's law Calculator</tittle>
<meta property='og:title' content="Specific Heat Capacity Calculatorr | Theoretical Yeild" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Specific-Heat-Capacity-Calculator.jpeg" />
<meta property='og:description' content="Ohm's law Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Specific Heat Capacity Calculator</h1>
        </div>
        <div class="card-body">
            <ul class="messages">
                {% if  messages %}
                <p  id="message_container" class="alert alert-danger text-center" 
                    style="color:red">{{ message }}</p>
                {% endif %}
            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Choose a Calculation</strong></div>
                        </div>
                        <select name="given_data" id="inlineFormInputGroup" class="form-control"
                            onchange="this.form.submit();" autofocus="">

                            {% if given_data == 'form1' %}
                            <option value="form1" selected="selected"> Find Energy | Given Change in temperature, Substance ,Mass  </option>
                            {% else %}
                            <option value="form1"> Find Energy | Given Change in temperature,Substance,Mass  </option>
                            {% endif %}

                            {% if given_data == 'form2' %}
                            <option value="form2" selected="selected"> Find Change in temperature | Given Energy, Substance ,Mass </option>
                            {% else %}
                            <option value="form2">Find Change in temperature | Given Energy,Substance,Mass  </option>
                            {% endif %}


                            {% if given_data == 'form3' %}
                            <option value="form3" selected="selected"> Find Mass| Given Energy ,Substance , Change in temperature
                            </option>
                            {% else %}
                            <option value="form3"> Find Mass| Given Energy, Substance , Change in temperature  </option>
                            {% endif %}

                        </select>
                    </div>



                    {% if given_data != "form2" %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Change in temperature</strong></div>
                        </div>
                        <input type="number" min="0.001" step="0.001" oninput="validateNumber(this);" id="Ia" required=""
                            placeholder="Enter number"  class="form-control mt-1" name="Ia" {% if Ia1 %} value="{{Ia1}}" {% else %} value="10" {% endif %}>


                        <select class="select form-control mt-1" id="Ia_op" name="Ia_op">


                            {% if Ia_op == 'K' %}
                            <option value="K" selected="selected">Kelvin(K)</option>
                            {% else %}
                            <option value="K">Kelvin(K)</option>
                            {% endif %}

                            {% if Ia_op == '°C' %}
                            <option value="°C" selected="selected">degree Celcius(°C)</option>
                            {% else %}
                            <option value="°C">degree Celcius(°C)</option>
                            {% endif %}


                            {% if Ia_op == '°F' %}
                            <option value="°F" selected="selected">Fahreniet(°F)</option>
                            {% else %}
                            <option value="°F">Fahreniet(°F)</option>
                            {% endif %}

  
          
                        </select>
                    </div>
                    {% endif %}



                    {% if given_data != "form1" %}

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Energy </strong></div>
                        </div>
                        <input type="number" min="0.001" step="0.001" oninput="validateNumber(this);" id="F" required=""
                           placeholder="Enter number"  class="form-control mt-1" name="F" {% if F %} value="{{F1}}" {% else %} value="7" {% endif %}>

                        <select class="select form-control mt-1" id="F_op" name="F_op">
                          
                            {% if F_op == 'J' %}
                            <option value="J" selected="selected">Joules</option>
                            {% else %}
                            <option value="J">Joules</option>
                            {% endif %}

                            {% if F_op == 'kJ' %}
                            <option value="kJ" selected="selected">kiloJoules</option>
                            {% else %}
                            <option value="kJ">kiloJoules</option>
                            {% endif %}


                            {% if F_op == 'MJ' %}
                            <option value="MJ" selected="selected">megaJoules</option>
                            {% else %}
                            <option value="MJ">megaJoules</option>
                            {% endif %}

                            
                            {% if F_op == 'wh' %}
                            <option value="wh" selected="selected">watt hour</option>
                            {% else %}
                            <option value="wh">watt hour</option>
                            {% endif %}

                            {% if F_op == 'kwh' %}
                            <option value="kwh" selected="selected">kilowatt hour</option>
                            {% else %}
                            <option value="kwh">kilowatt hour</option>
                            {% endif %}

                        </select>

                    </div>

                    {% endif %}


                  {% if given_data != "form3" %}
                  
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Mass </strong></div>
                        </div>
                        <input type="number" min="0.001" step="0.001" oninput="validateNumber(this);" id="mass" required=""
                           placeholder="Enter number"  class="form-control mt-1" name="mass" {% if mass %} value="{{mass1}}" {% else %} value="7" {% endif %}>

                        <select class="select form-control mt-1" id="mass_op" name="mass_op">
                            
                            {% if mass_op == 'kg' %}
                            <option value="kg" selected="selected">kilogram</option>
                            {% else %}
                            <option value="kg">kilogram</option>
                            {% endif %}


                            {% if mass_op == 'g' %}
                            <option value="g" selected="selected">grams</option>
                            {% else %}
                            <option value="g">grams</option>
                            {% endif %}


                            {% if mass_op == 'mg' %}
                            <option value="mg" selected="selected">Milligram(mg)</option>
                            {% else %}
                            <option value="mg">Milligram(mg)</option>
                            {% endif %}

                            
                            {% if mass_op == 'µg' %}
                            <option value="µg" selected="selected">Micrograms(µg)</option>
                            {% else %}
                            <option value="µg">Micrograms(µg)</option>
                            {% endif %}

                        </select>

                    </div>

                    {% endif %}


                    
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Substance </strong></div>
                        </div>

                        <select class="select form-control mt-1" id="mat_op" name="mat_op">
                           
                           {% if mat_op == 'Aluminium' %}
                            <option value="Aluminium" selected="selected">Aluminium</option>
                                {% else %}
                                <option value="Aluminium">Aluminium</option>
                            {% endif %}

                            

                              {% if mat_op == 'Asphalt' %}
                                <option value="Asphalt" selected="selected">Asphalt</option>
                                {% else %}
                                <option value="Asphalt">Asphalt</option>
                            {% endif %}

                            {% if mat_op == 'Bone ' %}
                            <option value="Bone" selected="selected">Bone </option>
                            {% else %}
                            <option value="Bone">Bone </option>
                            {% endif %}


                            {% if mat_op == 'Boron' %}
                                <option value="Boron" selected="selected">Boron</option>
                                {% else %}
                                <option value="Boron">Boron</option>
                            {% endif %}


                              {% if mat_op == 'Brass' %}
                                <option value="Brass" selected="selected">Brass</option>
                                {% else %}
                                <option value="Brass">Brass</option>
                            {% endif %}

                              {% if mat_op == 'Brick' %}
                                <option value="Brick" selected="selected">Brick</option>
                                {% else %}
                                <option value="Brick">Brick</option>
                            {% endif %}

                              {% if mat_op == 'Cast Iron' %}
                                <option value="Cast Iron" selected="selected">Cast Iron</option>
                                {% else %}
                                <option value="Cast Iron">Cast Iron</option>
                            {% endif %}

                              {% if mat_op == 'Clay' %}
                                <option value="Clay" selected="selected">Clay</option>
                                {% else %}
                                <option value="Clay">Clay</option>
                            {% endif %}

                              {% if mat_op == 'Coal' %}
                                <option value="Coal" selected="selected">Coal</option>
                                {% else %}
                                <option value="Coal">Coal</option>
                            {% endif %}

                              {% if mat_op == 'Cobalt' %}
                                <option value="Cobalt" selected="selected">Cobalt</option>
                                {% else %}
                                <option value="Cobalt">Cobalt</option>
                            {% endif %}

                              {% if mat_op == 'Concrete' %}
                                <option value="Concrete" selected="selected">Concrete</option>
                                {% else %}
                                <option value="Concrete">Concrete</option>
                            {% endif %}

                              {% if mat_op == 'Copper' %}
                                <option value="Copper" selected="selected">Copper</option>
                                {% else %}
                                <option value="Copper">Copper</option>
                            {% endif %}

                              {% if mat_op == 'Glass' %}
                                <option value="Glass" selected="selected">Glass</option>
                                {% else %}
                                <option value="Glass">Glass</option>
                            {% endif %}

                              {% if mat_op == 'Gold' %}
                                <option value="Gold" selected="selected">Gold</option>
                                {% else %}
                                <option value="Gold">Gold</option>
                            {% endif %}

                            {% if mat_op == 'Granite' %}
                                <option value="Granite" selected="selected">Granite</option>
                                {% else %}
                                <option value="Granite">Granite</option>
                            {% endif %}

                            {% if mat_op == 'Gypsum' %}
                                <option value="Gypsum" selected="selected">Gypsum</option>
                                {% else %}
                                <option value="Gypsum">Gypsum</option>
                            {% endif %}

                              {% if mat_op == 'Helium' %}
                                <option value="Helium" selected="selected">Helium</option>
                                {% else %}
                                <option value="Helium">Helium</option>
                            {% endif %}


                              {% if mat_op == 'Lead' %}
                                <option value="Lead" selected="selected">Lead</option>
                                {% else %}
                                <option value="Lead">Lead</option>
                            {% endif %}

                              {% if mat_op == 'Hydrogen' %}
                                <option value="Hydrogen" selected="selected">Hydrogen</option>
                                {% else %}
                                <option value="Hydrogen">Hydrogen</option>
                            {% endif %}

                              {% if mat_op == 'Ice' %}
                                <option value="Ice" selected="selected">Ice</option>
                                {% else %}
                                <option value="Ice">Ice</option>
                            {% endif %}

                              {% if mat_op == 'Iron' %}
                                <option value="Iron" selected="selected">Iron</option>
                                {% else %}
                                <option value="Iron">Iron</option>
                            {% endif %}

                              {% if mat_op == 'Limestone' %}
                                <option value="Limestone" selected="selected">Limestone</option>
                                {% else %}
                                <option value="Limestone">Limestone</option>
                            {% endif %}

                              {% if mat_op == 'Lithium' %}
                                <option value="Lithium" selected="selected">Lithium</option>
                                {% else %}
                                <option value="Lithium">Lithium</option>
                            {% endif %}


                              {% if mat_op == 'Magnesium' %}
                                <option value="Magnesium" selected="selected">Magnesium</option>
                                {% else %}
                                <option value="Magnesium">Magnesium</option>
                            {% endif %}

                              {% if mat_op == 'Marble' %}
                                <option value="Marble" selected="selected">Marble</option>
                                {% else %}
                                <option value="Marble">Marble</option>
                            {% endif %}

                              {% if mat_op == 'Mercury' %}
                                <option value="Mercury" selected="selected">Mercury</option>
                                {% else %}
                                <option value="Mercury">Mercury</option>
                            {% endif %}

                              {% if mat_op == 'Nitrogen' %}
                                <option value="Nitrogen" selected="selected">Nitrogen</option>
                                {% else %}
                                <option value="Nitrogen">Nitrogen</option>
                            {% endif %}

                            
                              {% if mat_op == 'Oak Wood' %}
                                <option value="Oak Wood" selected="selected">Oak Wood</option>
                                {% else %}
                                <option value="Oak Wood">Oak Wood</option>
                            {% endif %}

                              {% if mat_op == 'Oxygen' %}
                                <option value="Oxygen" selected="selected">Oxygen</option>
                                {% else %}
                                <option value="Oxygen">Oxygen</option>
                            {% endif %}

                            
                              {% if mat_op == 'Platinum' %}
                                <option value="Platinum" selected="selected">Platinum</option>
                                {% else %}
                                <option value="Platinum">Platinum</option>
                            {% endif %}

                              {% if mat_op == 'Plutonium' %}
                                <option value="Plutonium" selected="selected">Plutonium</option>
                                {% else %}
                                <option value="Plutonium">Plutonium</option>
                            {% endif %}

                            
                              {% if mat_op == 'Quartzite' %}
                                <option value="Quartzite" selected="selected">Quartzite</option>
                                {% else %}
                                <option value="Quartzite">Quartzite</option>
                            {% endif %}

                             {% if mat_op == 'Rubber' %}
                                <option value="Rubber" selected="selected">Rubber</option>
                                {% else %}
                                <option value="Rubber">Rubber</option>
                            {% endif %}

                              {% if mat_op == 'Salt' %}
                                <option value="Salt" selected="selected">Salt</option>
                                {% else %}
                                <option value="Salt">Salt</option>
                            {% endif %}

                            
                              {% if mat_op == 'Sand' %}
                                <option value="Sand" selected="selected">Sand</option>
                                {% else %}
                                <option value="Sand">Sand</option>
                            {% endif %}

                            
                              {% if mat_op == 'Sandstone' %}
                                <option value="Sandstone" selected="selected">Sandstone</option>
                                {% else %}
                                <option value="Sandstone">Sandstone</option>
                            {% endif %}

                              {% if mat_op == 'Silicon' %}
                                <option value="Silicon" selected="selected">Silicon</option>
                                {% else %}
                                <option value="Silicon">Silicon</option>
                            {% endif %}

                              {% if mat_op == 'Silver' %}
                                <option value="Silver" selected="selected">Silver</option>
                                {% else %}
                                <option value="Silver">Silver</option>
                            {% endif %}

                              {% if mat_op == 'Soil' %}
                                <option value="Soil" selected="selected">Soil</option>
                                {% else %}
                                <option value="Soil">Soil</option>
                            {% endif %}

                              {% if mat_op == 'Stainless Steel' %}
                                <option value="Stainless Steel" selected="selected">Stainless Steel</option>
                                {% else %}
                                <option value="Stainless Steel">Stainless Steel</option>
                            {% endif %}

                              {% if mat_op == 'Steam' %}
                                <option value="Steam" selected="selected">Steam</option>
                                {% else %}
                                <option value="Steam">Steam</option>
                            {% endif %}

                              {% if mat_op == 'Sulfur' %}
                                <option value="Sulfur" selected="selected">Sulfur</option>
                                {% else %}
                                <option value="Sulfur">Sulfur</option>
                            {% endif %}

                              {% if mat_op == 'Thorium' %}
                                <option value="Thorium" selected="selected">Thorium</option>
                                {% else %}
                                <option value="Thorium">Thorium</option>
                            {% endif %}

                              {% if mat_op == 'Tin' %}
                                <option value="Tin" selected="selected">Tin</option>
                                {% else %}
                                <option value="Tin">Tin</option>
                            {% endif %}

                              {% if mat_op == 'Titanium' %}
                                <option value="Titanium" selected="selected">Titanium</option>
                                {% else %}
                                <option value="Titanium">Titanium</option>
                            {% endif %}

                              {% if mat_op == 'Tungsten' %}
                                <option value="Tungsten" selected="selected">Tungsten</option>
                                {% else %}
                                <option value="Tungsten">Tungsten</option>
                            {% endif %}

                              {% if mat_op == 'Uranium' %}
                                <option value="Uranium" selected="selected">Uranium</option>
                                {% else %}
                                <option value="Uranium">Uranium</option>
                            {% endif %}

                              {% if mat_op == 'Vandium' %}
                                <option value="Vandium" selected="selected">Vandium</option>
                                {% else %}
                                <option value="Vandium">Vandium</option>
                            {% endif %}

                              {% if mat_op == 'Water' %}
                                <option value="Water" selected="selected">Water</option>
                                {% else %}
                                <option value="Water">Water</option>
                            {% endif %}

                              {% if mat_op == 'Zinc' %}
                                <option value="Zinc" selected="selected">Zinc</option>
                                {% else %}
                                <option value="Zinc">Zinc</option>
                            {% endif %}

                        </select>

                    </div>

                

                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>


<div id="clear">

    {% if given_data == "form1" and F %}
    <div class="card" id="magnetic-Change in temperature">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Energy</h2>
        </div>

        <div class="card-body">

            <strong>Energy Formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active">c = Q / (mΔT) </p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>Q is the amount of supplied or subtracted heat (in joules)</li>
                        <li>m is the mass of the sample</li>
                        <li>ΔT is the difference between the initial and final temperatures.</li>
                        <li>c Heat capacity is measured in J/(kg·K)</li>
                    </ul>

            <strong>Input values are:-</strong>
            <p>Change in temperature = {{Ia1}} {{Ia_op}} </p>
            <p>Mass = {{mass1}} {{mass_op}}</p>
            <p>Specific Heat Capacity = {{c}} J/(kg·K) for  {{mat_op}} </p> 
        


            {% if mass_op != 'kg' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the mass  {{mass1}}<b><i>"{{mass_op}}"</i></b> to
                    <b><i>"kg"</i></b></b>
                </summary>
                <p>Converting Mass  ={{mass1}} {{mass_c|safe}}</p>
                <p>Mass ={{mass|safe}} kg </p>
            </details>
            {% endif %}

            {% if Ia_op == '°F' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the temperature  {{Ia1}}<b><i>"{{Ia_op}}"</i></b> to
                    <b><i>K"</i></b></b>
                </summary>
                <p>Converting Ia  ={{Ia1}} {{Ia_c|safe}}</p>
                <p>Ia ={{Ia|safe}} k </p>
            </details>
            {% endif %}


        

            <strong>Put values into formula</strong>
            <p> c = Q / (mΔT) </p>
            <p> Q = c * m * ΔT </p>
            <p> Q = {{c}} X {{mass|safe}} X {{Ia|safe}} </p>
            <p> Energy = {{F|safe}} J</p>
            


        </div>

    </div>
    {% endif %}

    

    {% if given_data == "form2" and Ia %}
    <div class="card" id="magnetic-Change in temperature">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Change in temperature</h2>
        </div>

        <div class="card-body">

            <strong>Friction Loss formula-</strong>
            <br>
            <p class="btn btn-outline-secondary active">c = Q / (mΔT)</p>
            <br>
            <strong>where:</strong>
                    <ul>
                    <li>Q is the amount of supplied or subtracted heat (in joules)</li>
                    <li>m is the mass of the sample</li>
                    <li>ΔT is the difference between the initial and final temperatures.</li>
                    <li>c Heat capacity is measured in J/(kg·K)</li>
                    </ul>


            <strong>Input values are:-</strong>
            <p>Energy = {{F1}} {{F_op}} </p>
            <p>Mass = {{mass1}} {{mass_op}}</p>
            <p>Specific Heat Capacity = {{c}} for  {{mat_op}} </p> 
        
        
           
            {% if F_op != 'J' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Energy  {{F1}}<b><i>"{{F_op}}"</i></b> to
                    <b><i>"J"</i></b></b>
                </summary>
                <p>Converting Energy ={{F1}} {{F_c|safe}}</p>
                <p>Energy ={{F|safe}} Joules </p>
            </details>
            {% endif %}

            
            {% if mass_op != 'kg' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the mass  {{mass1}}<b><i>"{{mass_op}}"</i></b> to
                    <b><i>"kg"</i></b></b>
                </summary>
                <p> Mass  ={{mass1}} {{mass_c|safe}}</p>
                <p> Mass ={{mass|safe}} kg </p>
            </details>
            {% endif %}


            <strong>Put values into formula</strong>
            <p>  c = Q / (mΔT) </p>
            <p>  ΔT = Q/(m*c) </p>
            <p>  ΔT = {{F|safe}} / ({{mass|safe}} X {{c}}) </p>
            <p> Change in temperature = {{Ia|safe}}  K</p>
            
        </div>

    </div>
    {% endif %}



    {% if given_data == "form3" and mass %}
    <div class="card" id="magnetic-Change in temperature">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate Mass</h2>
        </div>

        <div class="card-body">

            <strong>Friction Loss formula--</strong>
            <br>
            <p class="btn btn-outline-secondary active">c = Q / (mΔT)</p>
            <br>
            <strong>where:</strong>
                    <ul>
                    <li>Q is the amount of supplied or subtracted heat (in joules)</li>
                    <li>m is the mass of the sample</li>
                    <li>ΔT is the difference between the initial and final temperatures.</li>
                    <li>c Heat capacity is measured in J/(kg·K)</li>
                    </ul>


            <strong>Input values are:-</strong>
            <p>Energy = {{F1}} {{F_op}} </p>
            <p>Change in temperature = {{Ia1}} {{Ia_op}}</p>
            <p>Specific Heat Capacity = {{c}} for  {{mat_op}} </p> 
        
           
            {% if F_op != 'J' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the Energy  {{F1}}<b><i>"{{F_op}}"</i></b> to
                    <b><i>"Joules"</i></b></b>
                </summary>
                <p>Converting Energy  ={{F1}} {{F_c|safe}}</p>
                <p>Energy ={{F|safe}} Joules </p>
            </details>
            {% endif %}

            
            {% if Ia_op == '°F' %}
            <details style="border:2px solid #009FE8; width:100%;">
                <summary>
                     <b>Convert the temperature  {{Ia1}}<b><i>"{{Ia_op}}"</i></b> to
                    <b><i>K"</i></b></b>
                </summary>
                <p>Converting Ia  ={{Ia1}} {{Ia_c|safe}}</p>
                <p>Ia ={{Ia|safe}} k </p>
            </details>
            {% endif %}

            <strong>Put values into formula</strong>
            <p>  c = Q / (mΔT)  </p>
            <p>  m = Q / (c*ΔT)</p>
            <p>  m= {{F|safe}} /({{c}} X {{Ia|safe}}) </p>
            <p> Mass = {{mass|safe}} kg</p>
            
            
        </div>

    </div>
    {% endif %}






</div>



<script>
    
{% if id == 1 %}
 
var scrollDiv = document.getElementById("clear").offsetTop;
console.log(scrollDiv)
window.scrollTo({ top: scrollDiv, behavior: 'smooth'});

{%endif%}

    

</script>

<script>
    function myFunction() {

            document.getElementById("clear").innerHTML = "";
            
            document.getElementById("mat_op").value="Aluminium";

            {% if given_data != 'form2' %}    
            document.getElementById("Ia").value = "";
            document.getElementById("Ia_op").value="K";
            {%endif%}
            
            {% if given_data != 'form3' %}
            document.getElementById("mass").value = "";
            document.getElementById("mass_op").value="kg";
            {%endif%}

            {% if given_data != 'form1' %}
            document.getElementById("F").value=""
            document.getElementById("F_op").value="J";
            {% endif %}

            
    
    }
</script>
<br>

{% endblock %}